@use "../global.scss" as *;

.routine {
    --brightness-amount: 1.5;

    &--light {
        --brightness-amount: 1.05;
    }
    &--light &__breakdown {
        background: rgba(var(--textColor1), 0.025);
        border: 1.5px dashed rgba(var(--textColor1), 0.12);
    }
    &--light &__stat-title {
        @include text-style(1);
    }
    &--light &__stat-num {
        @include text-style(0.75);
    }
    &--light .tag__title {
        color: rgba(var(--tag-color-1), 1);
    }
    &--light &__tag-stat {
        @include text-style(0.8);
    }
    &--light &__collection-empty {
        @include text-style(0.3);
    }

    &__details {
        max-width: 100%;
        margin-bottom: 10px;
        position: relative;
    }
    &__details-header {
        @include flex(center, space-between);
        position: relative;
    }
    &__title {
        padding: 13px 12px 0px 0px;
        @include text-style(1, var(--fw-400-500), 1.5rem);
        max-height: 120px;
        min-height: 32px;
    }
    &__description {
        display: inline-block;
        margin-top: 4px;
        padding: 4px 4px 8px 0px;
        max-height: 120px;
        @include text-style(0.4, var(--fw-400-500), 1.425rem);
    }
    &__breakdown {
        width: 250px;
        padding: 6px 20px 14px 14px;
        border-radius: 11px;
        background: rgba(var(--textColor1), 0.02);
        border: 1.5px dashed rgba(var(--textColor1), 0.075);
        position: relative;
        margin: -4px 0px 14px -4px;
    }
    &__breakdown-title {
        @include text-style(1, var(--fw-400-500), 1.3rem, "Geist Mono");
    }
    &__breakdown-header {
        @include flex(center, space-between);
    }
    &__breakdown-btns {
        @include flex(center);
        margin-right: -6px;
    }
    &__breakdown-btn {
        opacity: 0.2;
        padding: 2px 6px;
        @include text-style(1, var(--fw-400-500), 1.25rem);

        &:hover {
            opacity: 1;
        }
        &:focus {
            opacity: 0.8;
        }
    }
    &__stat-title-container {
        min-width: 0px;
        margin-right: 10px;
        @include flex(center);
        gap: 9px;
    }
    &__stat-title {
        @include text-style(0.65, var(--fw-400-500), 1.35rem);
        @include elipses-overflow;
    }
    &__stat-breakdown {
        padding-top: 5px;
    }
    &__stat-num {
        @include text-style(0.3, var(--fw-400-500), 1.35rem);
        white-space: nowrap;
        float: right;
    }
    &__stats-col {
        position: relative;
    }
    &__stats-divider {
        width: 100%;
        margin: 11px 0px;
        border-top: var(--divider-border);
    }
    &__stat {
        @include flex(center, space-between);

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
    &__stat--tag:not(:last-child) {
        margin-bottom: 7px;
    }
    &__breakdown-empty {
        display: block;
        @include text-style(0.2, var(--fw-400-500), 1.3rem);
        margin: 5px 0px 10px 0px;
        text-align: center;
    }
    &__routines {
        margin: 10px 0px 0px 0px;
        width: 90%;
        position: relative;
        height: var(--routines-height);
    }
    &__routines-count {
        @include text-style(0.2, var(--fw-400-500), 1.325rem);
    }
    &__routines-left {
        @include flex(center);

        &:hover button {
            visibility: visible;
            opacity: 0.3;
        }
    }
    &__routines-addbtn {
        opacity: 0;
        transition: 0.1s ease-in-out;
        padding: 3px 3px 3px 4px;
        border-radius: 10px;

        &:hover {
            opacity: 0.88 !important;
        }
        &:focus {
            visibility: visible !important;
            opacity: 1 !important;
        }
        &:active {
            transform: scale(0.94);
        }
    }
    &__routines-header {
        @include flex(center, space-between);
        margin-bottom: 8px;
    }
    &__routines-list {
        z-index: 2000;
        overflow-y: scroll;
        padding-right: 11px;
        max-height: var(--routines-dropdown-max-height);
    }

    .drop-top-border::before {
        width: calc(100%);
        top: 0px;
        left: 0px;
        height: 1.5px !important;
    }
}

.routine-item {
    padding: 4px 12px 4px 1px;
    border-radius: 10px;
    margin: 0px 0px 3px 0px;
    position: relative;
    outline: none;
    @include flex(center, space-between);
    
    &:hover {
        cursor: pointer;
    }
    &:hover button {
        opacity: 0.7;
    }
    &:hover &__settings-btn {
        display: block;
    }
    &:hover::after {
        display: none;
    }
    &--active button {
        opacity: 0.65 !important; 
    }
    &--clicked button {
        opacity: 0.9 !important;
    }
    button {
        @include text-style(1, var(--fw-400-500), 1.35rem);
        @include truncate-lines(1);
        opacity: 0.3;
        width: calc(100% - 15px);
    }
    &__settings-btn {
        @include abs-top-right(0px, -5px);
        display: none;
    }
}

.routine-blocks-container {
    &--no-scroll {
        overflow: hidden !important;
    }
    &--ns-resize * {
        cursor: ns-resize !important;
    }
}

.routine-blocks {
    @include abs-top-left;
    z-index: 2;
    width: 100%;
    position: relative;
    height: 100%;

    &--editing * {
        user-select: none !important;
    }
    &--editing &__block {
        pointer-events: none;
    }
    #edit-block {
        transition: 0s !important;
    }
}

.routine-block {
    position: absolute;
    height: var(--block-height);
    transition: 0.1s transform ease-in-out;
    cursor: pointer;

    &:focus-visible {
        transform: scale(1.01);
    }
    &--editing &__content {
        @include border-focus;
        transition: 0.08s ease-in-out !important;
    }

    // drop area
    &--drop-area &__content {
        border: 1.5px dashed rgba(var(--block-color-1), 0.4);
        background-color: rgba(var(--block-color-2), 0.6);
        border-radius: 10px;
    }
    &--drop-area &__title {
        display: none;
    }
    &--drop-area &__time-period {
        color: rgba(var(--block-color-1), 0.77);
        font-weight: 300;
    }
    &--drop-area &__spine {
        display: none;
    }

    // drop area
    &--wk-drop-area &__content {
        border: 1.5px dashed rgba(var(--block-color-1), 0.4);
        background-color: rgba(var(--block-color-2), 0.5);
        border-radius: 8px;
    }
    &--wk-drop-area-light &__content {
        border-color: rgba(var(--block-color-1), 0.65);
    }
    &--old-stretch {
        transition: 0s !important;
        pointer-events: all !important;
    }
    &--use-x-offset {
        left: var(--left-x-offset) !important;
    }
    &--day-floating, &--wk-floating {
        transition: 0s !important;
    }
    &--day-floating &__content, 
    &--wk-floating &__content {
        border-top: 1.5px solid rgba(var(--block-color-3), 0.04);
        border-right: 1.5px solid rgba(var(--block-color-3), 0.04);
        border-bottom: 1.5px solid rgba(var(--block-color-3), 0.04);
        box-shadow: 0px 1px 16.4px 4px rgba(black, 0.08);
    }
    &--day-floating, 
    &--wk-floating {
        cursor: grabbing !important;
    }
    &--dup-floating {
        animation: wobble 1s ease-in-out;
    }
    &--dup-floating &__content {
        box-shadow: 0px 1px 16.4px 4px rgba(black, 0.4);
        border: 1.5px dashed rgba(var(--block-color-1, 0.5)) !important;
    }
    &--dup-floating &__buttons {
        @include visible;
    }
    &--dup-floating &__spine {
        display: none;
    }
    &--dup-floating:hover * {
        cursor: grab;
    }
    &--dup-floating * {
        pointer-events: all;
    }

    &:hover {
        transition: 0.04s ease-in-out;
    }
    &:active {
        transform: scale(0.998);
    }
    &::after, &::before {
        z-index: 1000;
        content: " ";
        cursor: ns-resize !important;
        height: 4px;
        width: 100%;
    }
    &::before {
        @include abs-top-left();
    }
    &::after {
        @include abs-bottom-left();
    }

    &__content {
        background-color: rgba(var(--block-color-2), 1);
        border-top: 0.5px solid var(--bg-1);
        padding: 4px 8px 5px 12px;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        height: 100%;
        border-radius: 6px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        cursor: pointer;
    }
    &__title {
        @include text-style(_, var(--fw-400-500), 1.15rem);
        margin-bottom: 3px;
        color: rgb(var(--block-color-1));
    }
    &__time-period {
        display: inline-block;
        color: rgba(var(--block-color-3), 1);

        span {
            @include text-style(_, var(--fw-400-500), 1.1rem);
        }
    }
    &__spine {
        @include abs-top-left(4px, 2.5px);
        height: calc(100% - 9px);
        max-width: 2.5px;
        width: 2.5px;
        min-width: 2.5px;
        border-radius: 10px;
        background-color: rgb(var(--block-color-1));
    }
    &__handler:last-child {
        @include abs-bottom-left();
    }
    &__buttons {
        display: block;
        @include not-visible;
        @include flex(center);
        cursor: pointer !important;

        * {
            cursor: pointer !important;
        }
    }
    &__order-icon {
        margin: -2px -1px 0px -5px;
    }
    &__buttons--left {
        display: block;
        @include abs-top-left(4px, -28px);
    }
    &__buttons--right {
        display: block;
        @include abs-top-right(2px, -30px);
    }
    &__buttons--top {
        display: flex;
        @include abs-top-left(-28px, 1px);
    }
    &__buttons--bottom {
        display: flex;
        @include abs-bottom-left(-28px, 1px);
    }
    &__buttons button {
        @include circle(20px);
        @include center;
        border: 1px solid rgba(var(--textColor1), 0.06);
        @include contrast-bg("bg-2");
        margin: 0px 5px 5px 0px;
        transition: 0.04s ease-in-out;
        color: rgb(var(--textColor1));

        &:hover {
            filter: brightness(var(--brightness-amount));
        }
        &:active {
            scale: 0.95;
        }
    }
    &__buttons button i {
        font-size: 1.1rem;
    }
}