/* Reusable styling for routine views (daily / weekly) */
.routine {
    &--light &__tag-breakdown .tag {
        background-color: rgba(var(--tag-color-2), 1);
    }
    &--light &__description {
        @include text-style(0.75);
    }
    &--light &__breakdown {
        @include txt-color(0.028, "bg");
        border: 1px solid rgba(var(--textColor1), 0.04);
    }
    &--light &__breakdown h3 {
        @include text-style(1);
    }
    &--light &__cores-title {
        @include text-style(0.96);
    }
    &--light &__cores-value {
        @include text-style(0.8);
    }
    &--light &__cores-col-divider {
        @include divider(0.08, 1px);
    }
    &--light &__breakdown-options-btn {
        opacity: 0.4;
        @include text-style(0.9);
    }
    &--light .tag__title {
        color: rgba(var(--tag-color-1), 1);
    }
    &--light &__tag-stat {
        @include text-style(0.8);
    }
    &--light &__collection-empty {
        @include text-style(0.3);
    }

    &__details {
        max-width: 100%;
        margin-bottom: 17px;
    }
    &__details-header {
        @include flex(center, space-between);
        position: relative;
    }
    &__title {
        padding: 0px;
        overflow: scroll;
        @include text-style(1);
    }
    &__description {
        overflow: scroll;
        display: inline-block;
        @include text-style(0.4, _, 1.4rem);
    }

    /* Breakdown */
    &__breakdown {
        width: 90%;
        margin-left: -6px;
        padding: 7px 20px 10px 15px;
        border-radius: 14px;
        border: 1px solid rgba(var(--textColor1), 0.02);
        @include txt-color(0.019, "bg");

        h3 {
            margin-bottom: 12px;
            @include text-style(0.95, 400, 1.64rem);
        }
        &-title {
            @include text-style(1, var(--fw-400-500), 1.24rem, "DM Mono");
        }
        &-header {
            @include flex(center, space-between);
            // margin-bottom: 8px;
            position: relative;
        }
        &-options {
            @include flex(center);
            margin-right: -6px;
        }
        &-options-menu {
            @include abs-top-left(28px, -10px);
        }
        &-options-btn {
            opacity: 0.4;
            transition: 0s;
            padding: 2px 6px;
            @include text-style(1, 300, 1.14rem, "DM Mono");

            &:hover {
                opacity: 1;
            }
            &:focus {
                opacity: 0.8;
            }
        }
    }
    /* Core Breakdown */
    &__core-breakdown {
        padding-top: 8px;
    }
    &__cores {
        @include text-style(0.4, 400, 1.3rem);
        width: 100%;

        &-value {
            @include text-style(0.25, 300, _, "DM Sans");
        }
    }
    &__cores-col {
        position: relative;
    }
    &__cores-col-divider {
        @include divider(0.06, 0.5px, 100%);
        width: 100%;
        margin: 11px 0px;
    }
    &__cores-core {
        @include flex(center, space-between);
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 5px;
        }
    }
    /* Tag Breakdown */
    &__tag-breakdown h3 {
        margin-bottom: 17px;
    }
    &__tag-row {
        @include flex(center, space-between);
        margin-bottom: 6px;
    }
    &__tag-stat {
        @include text-style(0.34, 300, 1.32rem, "DM Sans");
    }
    &__tag-breakdown {
        position: relative;
        min-height: 180px;
        max-height: 240px;
        overflow: scroll;
        padding: 13px 15px 0px 3px;
        width: calc(100% + 15px);
        margin-left: -3px;
    }
    &__tag-breakdown .tag {
        padding: 3px 12px 3.5px 10px;
        background-color: rgba(var(--tag-color-2), 1);
        margin-left: -3px;
    }
    &__tag-breakdown-empty {
        @include text-style(0.17, var(--fw-400-500), 1.28rem);
        position: absolute;
        top: calc(50% - 4px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* Collection */
    &__collection-empty {
        display: block;
        @include text-style(0.14, var(--fw-400-500), 1.3rem);
    }
}

.routine-blocks-container {
    &--no-scroll {
        overflow: hidden !important;
    }
    &--ns-resize * {
        cursor: ns-resize !important;
    }
    &--grabbing * {
        cursor: grabbing !important;
    }
    &--light .routine-blocks__block--dup-floating .routine-blocks__block-content {
        box-shadow: 0px 1px 16.4px 4px rgba(black, 0.12);
    }
    &--light .routine-blocks__block-title {
        @include text-style(_, var(--fw-500-600));
    }
    &--light .routine-blocks__block--drop-area .routine-blocks__block-time-period {
        font-weight: 500;
    }
}

.routine-blocks {
    @include abs-top-left;
    z-index: 1;
    width: 100%;
    position: relative;
    height: 100%;

    &--grabbing * {
        cursor: text !important;
    }
    &--editing * {
        user-select: none !important;
    }
    &--editing &__block {
        pointer-events: none;
    }

    #edit-block {
        transition: 0s !important;
    }

    &__block {
        position: absolute;
        height: var(--block-height);
        max-height: var(--block-height);
        transition: 0.1s transform ease-in-out;

        &:focus-visible {
            transform: scale(1.01);
        }
        &:focus-visible &-content {
            @include border-focus;
        }
    
        cursor: pointer;

        &--md &-content {
            @include flex(center);
        }
        &--md &-title {
            margin: 0px 7px 0px 0px;
        }

        // drop area
        &--drop-area &-content {
            border: 1px dashed rgba(var(--block-color-1), 0.4);
            background-color: rgba(var(--block-color-2), 0.6);
            border-radius: 10px;
        }
        &--drop-area &-title {
            display: none;
        }
        &--drop-area &-time-period {
            color: rgba(var(--block-color-1), 0.77);
            font-weight: 300;
        }
        &--drop-area &-spine {
            display: none;
        }

        // week view drop area
        &--wk-drop-area &-content {
            border: 1px dashed rgba(var(--block-color-1), 0.4);
            background-color: rgba(var(--block-color-2), 0.5);
            border-radius: 8px;
        }
        &--wk-drop-area-light &-content {
            border-color: rgba(var(--block-color-1), 0.65);
        }
        &--old-stretch, &--wk-old-stretch {
            transition: 0s !important;
            * {
                pointer-events: all !important;
            }
        }

        &--use-x-offset {
            left: var(--left-x-offset) !important;
        }
        &--day-floating, &--wk-floating {
            transition: 0s !important;
        }
        &--day-floating &-content, &--wk-floating &-content {
            border-top: 1.5px solid rgba(var(--block-color-3), 0.04);
            border-right: 1.5px solid rgba(var(--block-color-3), 0.04);
            border-bottom: 1.5px solid rgba(var(--block-color-3), 0.04);

            box-shadow: 0px 1px 16.4px 4px rgba(black, 0.08);
        }
        &--day-floating, &--wk-floating {
            cursor: grabbing !important;
        }
        &--dup-floating {
            animation: wobble 1s ease-in-out;
        }
        &--dup-floating &-content {
            box-shadow: 0px 1px 16.4px 4px rgba(black, 0.4);
            border: 1px dashed rgba(var(--block-color-1, 0.5)) !important;
        }
        &--dup-floating * {
            pointer-events: all;
        }
        &--dup-floating:hover * {
            cursor: grab;
        }
        &--dup-floating &-buttons {
            @include visible;
        }
        &--dup-floating &-spine {
            display: none;
        }

        &:hover {
            transition: 0.04s ease-in-out;
        }
        &:active {
            transform: scale(0.998);
        }
        &::after, &::before {
            z-index: 1000;
            content: " ";
            cursor: ns-resize !important;
            height: 4px;
            width: 100%;
        }
        &::before {
            @include abs-top-left();
        }
        &::after {
            @include abs-bottom-left();
        }
    }
    &__block-content {
        background-color: rgba(var(--block-color-2), 1);
        border-top: 0.5px solid var(--bg-1);
        padding: 5px 8px 5px 12px;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        height: 100%;
        border-left: none;
        border-radius: 8px;
    }
    &__block-title {
        @include text-style(_, var(--fw-400-500), 1.25rem);
        margin-bottom: 3px;
        cursor: text;
        color: rgb(var(--block-color-1));
    }
    &__block-time-period {
        @include text-style(_, var(--fw-400-500), 1.16rem);
        cursor: text;
        display: inline-block;
        color: rgba(var(--block-color-3), 1);
    }
    &__block-spine {
        @include abs-top-left;
        height: calc(100%);
        width: 3px;
        background-color: rgb(var(--block-color-1));
    }
    &__block-handler:last-child {
        @include abs-bottom-left();
    }
    &__block-buttons {
        display: block;
        @include not-visible;
        @include flex(center);
        cursor: pointer !important;

        * {
            cursor: pointer !important;
        }
    }
    &__block-order-icon {
        margin: -2px -1px 0px -5px;
    }
    &__block-buttons--left {
        display: block;
        @include abs-top-left(4px, -24px);
    }   
    &__block-buttons--right {
        display: block;
        @include abs-top-right(-1px, -27px);
    }
    &__block-buttons--top {
        display: flex;
        @include abs-top-left(-22px, 1px);
    }
    &__block-buttons--bottom {
        display: flex;
        @include abs-bottom-left(-28px, 1px);
    }
    &__block-buttons button {
        @include circle(16px);
        @include center;
        background-color: var(--bg-3);
        border: 1px solid rgba(var(--textColor1), 0.06);
        margin: 0px 5px 5px 0px;
        transition: 0.04s ease-in-out;
        color: rgb(var(--textColor1));

        &:hover {
            background: rgba(var(--textColor1), 0.2);
        }
        &:active {
            scale: 0.95;
        }
    }
    &__block-buttons button i {
        font-size: 0.9rem;

    }
}