@import "../../scss/inputs.scss";

/* Actual Active Session Component */
$bento-box-padding: 8px;
$todo-padding-left: 8px;

/* Styling is for header component by default, base styling is Located in the base component */
.active-session {
    .unfill {
        @include unfill-btn-ficus-styling(var(--fgColor1));
    }

    /* Default styling is Light */
    &--light .input-box {
        @include input-box--light;
    }

    &--dark .dropdown-menu {
        @include dropdown-menu-dark;
    }
    &--dark &__header-session-name {
        font-weight: 400;
    }
    &--dark &__header-time-period {
        span {
            font-weight: 300;
            color: rgba(var(--textColor1), 0.2);
        }
    }
    &--dark &__header-session-details-data {
        h6 {
            font-weight: 500;
        }
        span {
            font-weight: 300;
        }
    }
    &--dark &__tasks-header h4 {
        color: rgba(var(--textColor1), 0.5);
        font-weight: 400;
    }
    &--dark &__tasks-header span {
        font-weight: 400;
    }
    &--dark &__tasks-new-task-btn {
        font-weight: 300;
    }
    &--dark &__tasks-new-todo-input {
        font-weight: 300; 
    }
    &--dark &__pom-timer h1 {
        font-weight: 400;
    }
    &--dark &__pom-message {
        font-weight: 300;
        color: rgba(var(--textColor1), 0.4);
    }

    button.unfill--oval {
        color: rgb(var(--fgColor2));
        border-color: rgb(var(--fgColor2));
        font-size: 1.05rem;
        
        span {
            margin-left: 5px;
        }
        &:hover {
            background-color: rgb(var(--fgColor2));
            color: var(--secondaryBgColor);
        }
    }

    .dropdown-menu {
        width: 150px;
    }

    &__bento-box {
        position: relative;
        h4 {
            font-size: 1.5rem;
            color: rgba(var(--textColor1), 0.85);
        }
    }

    &__top-container {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    /* Header */
    &__header {
        @include flex(flex-start, space-between);
        padding-left: 9px;
    }
    &__header-session-name {
        display: flex;
        margin-right: 8px;
        max-width: 600px;
        font-weight: 600;
        font-size: 1.5rem;
        @include elipses-overflow;
    }
    &__header-time-period {
        @include flex(center, _);
        margin-top: 5px;
        span {
            font-size: 1.25rem;
            font-weight: 500;
            white-space: nowrap;
            color: rgba(var(--textColor1), 0.3);
            margin-left: 10px;
        }
        .divider {
            width: 1px;
            height: 12px;
            margin: 0px 10px;
            color: rgba(var(--textColor1), 0.3);
        }
    }
    &__header-session-tag {
        @include flex(center, center);
        color: white;
        border-radius: 25px;
        font-size: 1.1rem;
        padding: 2px 12px;
        font-weight: 500;
        margin-top: 7px;
        width: fit-content;

        span {
            @include elipses-overflow;
        }
    }

    /* Pomodoro Component */
    &__pom {
        width: 100%;
        margin: -7px 0px 15px 0px;
    }
    &__pom-details {
        margin-top: 0px;
    }
    &__pom-message {
        display: block;
        margin-top: -15px;
        font-weight: 500;
        font-size: 1.2em;
        color: rgba(var(--textColor1), 0.42);
    }
    &__pom-timer {
        // @include flex(baseline, center);
        h1 {
            font-size: 5rem;
            font-weight: 500;
            color: rgba(var(--textColor1), 0.85);
            display: inline-block;
        }
    }
    &__conclude-btn-container {
        margin-top: 20px;
        width: 100%;
        @include flex(center, center);
    }
    &__conclude-btn {
        // margin: 20px 0px 0px 0px;
        span {
            padding-left: 7px;
        }
        &--finger span {
            animation: moveBackAndForth 2s ease-in-out infinite;
        }
        &--flag span {
            animation: rotation 1.5s ease-in-out infinite;
        }
    }

    /* Tasks Component */
    &__tasks {
        height: 100%;
        margin-top: 20px;
    }
    &__tasks-header {
        @include flex(center, space-between);
        h4 {
            margin: 2px 0px 5px $todo-padding-left;
            font-size: 1.45rem;
            font-weight: 600;
        }
        span {
            color: rgb(var(--textColor1), 0.35);
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 3px;
        }
    }
    &__tasks-todo-list-container {
        position: relative;

        .gradient-container {
            opacity: 1;
            visibility: visible;
            width: 100%;
            &--top {
                background: linear-gradient(180deg, var(--modalBgColor) 20%, transparent);
                height: 20px;
            }
            &--bottom {
                background: linear-gradient(0deg, var(--modalBgColor) 20%, transparent);
                height: 20px;
            }
        }
    }
    &__tasks-todo-list {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 70%;
        min-height: 100px;
        max-height: 250px;
        padding-top: 4px;
        position: relative;
    }
    &__tasks-new-task-btn {
        transition: 0.15s ease-in-out;
        opacity: 0.35;
        height: 33px;
        margin: 4px 0px 8px calc($todo-padding-left + 5px);
        padding-right: 20px;
        @include flex(center, center);
        @include text-style(1, 500, 1.3rem);

        span {
            font-size: 1.5rem;
            margin-right: 18px;
        }
        &:focus {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
        }
    }
    &__new-task-input-container {
        margin: 5px 0px 0px 3px;
    }
    &__tasks-new-todo-input {
        cursor: text;
        width: 90%;
        font-size: 1.35rem;
        font-weight: 500;
        transition: 0.1s ease-in-out;
        height: 33px;
        margin: 4px 0px 8px $todo-padding-left;
        color: rgb(var(--textColor1), 0.7);
        border-bottom: 1.5px solid rgba(var(--fgColor2), 0);
        
        &::placeholder {
            opacity: 0.5;
        }
        &:focus {
            border-bottom: 1.5px solid rgba(var(--fgColor2), 0.7);
        }
        &:focus::placeholder {
            opacity: 0.6;
        }
    }
    &__tasks-add-btn {
        &:disabled {
            opacity: 0.5;
        }
        &:disabled {
            &:hover {
                background: none;
                color: rgb(var(--fgColor2));
            }
        }
    }
    &__tasks-finish-session-btn {
        @include pos-abs-bottom-right-corner(0px, 0px);
    }
}

/* Todo Component in Subtasks Section */
.active-session-todo {
    position: relative;
    @include flex(center, _);
    border: 0.5px solid rgba(var(--textColor1), 0);
    padding-left: $todo-padding-left;
    border-radius: 15px;

    .divider {
        margin: 0px;
        background-color: rgba(var(--textColor1), 0.06);
        height: 0.5px;
        width: 99%;
    }

    &--light-mode {
        &:focus {
            background-color: rgba(0, 0, 0, 0.02) !important;
            border: 0.5px solid rgba(var(--textColor1), 0.04);
        }
    }
    &:focus {
        outline: none;
        background-color: rgba(200, 200, 200, 0.0085);
        border: 0.5px solid rgba(var(--textColor1), 0.04);
    }
    &:focus .divider {
        background-color: rgba(var(--textColor1), 0);
    }

    /* Default styling is Dark */
    &--hide-divider .divider {
        background-color: rgba(var(--textColor1), 0) !important;
    }
    &--editing > &__right-container {
        border: 1px solid rgba(var(--textColor1), 0.04);
        border-radius: 12px;
        padding: 9px 12px 9px 2px !important;
        margin: 2px 0px;
        font-size: 1.2rem;
        color: rgba(var(--textColor1), 0.7);
    }
    &--editing > .divider {
        display: none;
    }
    &--editing > form {
        display: block;
    }
    &--light-mode > &__right-container {
        color: rgba(var(--textColor1), 1);
        
        button, span {
            font-weight: 500;
        }
    }
    &--light-mode p {
        font-weight: 400;
    }
    &--light-mode .divider {
        background-color: rgba(var(--textColor1), 0.08);
        height: 1px;
    }
    &--light-mode &__check-box {
        border: 2px solid rgb(var(--fgColor1));
    }
    &--light-mode &__dotted-line {
        border-left: 2px dotted rgb(var(--fgColor1));
        left: calc(8px + $todo-padding-left);
    }
    &--light-mode &__solid-line {
        &::after {
            border-left: 1.2px solid rgb(var(--fgColor1));
            left: 8px;
        }
    }
    &--light-mode &__edit-todo-input {
        font-weight: 500;
        color: rgba(var(--textColor1), 0.6);
    }
    &--light-mode &__name {
        font-weight: 500;
    }
    &:first-child {
        margin-top: -4px;
    }
    &:hover &__edit-button { 
        transition: 0.12s ease-in-out;
        visibility: visible;
        opacity: 0.5;
    }
    /* Check Box */
    &__check-box {
        @include circle(13.5px);
        @include center;
        transition: 0.1s ease-in-out;
        position: relative;
        margin-right: 8.5px;
        border: 1.5px solid rgb(var(--fgColor1));
        color: rgb(var(--textColor2));

        i {
            margin-top: 1px;
            font-size: 0.8rem;
            display: none;
        }
        &:focus {
            background-color: rgba(var(--fgColor1), 0.4);
        }
        &:hover {
            background-color: rgba(var(--fgColor1), 0.2);
        }
        &:active {
            transform: scale(0.9);
        }
        &--finished > i {
            display: block;
        }
        &--finished {
            background-color: rgb(var(--fgColor1)) !important;
            &:hover {
                background-color: rgb(var(--fgColor1));
            }
        }
        &--edit-mode {
            margin-top: -40px;
            &:hover {
                background: none;
            }
        }
    }
    &__dotted-line {
        position: absolute;
        transition: 0.2s ease-in-out;
        width: 1px;
        border-left: 1.45px dotted rgb(var(--fgColor1));
        bottom: -11px;
        height: 21px;
        left: calc(7.7px + $todo-padding-left);
    }
    &__solid-line {
        position: relative; 

        @keyframes progress-line {
            0%   { height : 0; }
            100% { height: 17px; }
        }

        &::after {
            content: ' ';
            position: absolute;
            bottom: -30px;
            left: 7.3px;
            height: 25px;
            border-left: 1.2px solid rgb(var(--fgColor1));
            animation-name: progress-line;
            animation-duration: 0.1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: backwards; 
        }
    }

    /* Todo Content Stuff */
    &__right-container {
        position: relative;
        width: 100%;

        form {
            width: 100%;
            @include flex(center, space-between);
            position: relative;
        }
        input {
            width: 90%;
        }
    }
    &__name {
        margin: 9px 0px;
        padding: 2px 0px;
        transition: 0.13s ease-in-out;
        opacity: 0.7;
        font-size: 1.2rem;
        font-weight: 200;
        color: rgba(var(--textColor1), 0.85);
        width: fit-content;
        
        .strike {
            position: relative; 
        }
        @keyframes strike {
            0%   { width : 0; }
            100% { width: 100%; }
        }
        .strike::after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background: rgb(var(--textColor1));
            animation-name: strike;
            animation-duration: 0.13s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards; 
        }
        &--finished {
            opacity: 0.2;
        }
    }
    &__edit-button {
        transition: 0.01s ease-in-out;
        visibility: hidden;
        opacity: 0;
        padding: 0px 10px;
        margin: 0px;
        @include pos-abs-top-right-corner(13px, 10px);

        &:focus {
            opacity: 1 !important;
        }
        &:hover {
            opacity: 1 !important;
        }
        span {
            font-size: 1.12rem;
            margin-left: 8px;
            font-weight: 200;
        }
        i, span {
            color: rgb(var(--textColor1), 0.65);
        }
    }
    &__edit-btn-container {
        display: flex;
        button {
            font-size: 1.12rem;
            transition: 0.12s ease-in-out;
            font-weight: 400;
            color: rgb(var(--textColor1), 0.3);
        }
    }
    &__delete-btn {
        margin-right: 10px;
        color: rgba(227, 145, 132, 0.7);

        &:focus {
            color: rgba(var(--textColor1), 1);
        }
        &:hover {
            color: rgba(var(--textColor1), 1);
        }
    }
    &__done-btn {
        color: rgba(var(--textColor1), 0.7);
        &:focus {
            color: rgba(var(--textColor1), 1);
        }
        &:hover {
            color: rgba(var(--textColor1), 1);
        }
        &:disabled {
            opacity: 0.3;
        }
    }
    &__edit-todo-input {
        cursor: text;
        width: 90%;
        margin-left: 6px;

        &::placeholder {
            opacity: 0.5;
        }
    }
}

@keyframes moveBackAndForth {
    0% {
        transform: translateX(-1px);
    }
    50% {
        transform: translateX(1.5px);
    }
    100% {
        transform: translateX(-1px);
    }
}
@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-25deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}