/* Actual Active Session Component */
$bento-box-padding: 8px;

.active-session {
    .unfill {
        @include unfill-btn-ficus-styling(var(--fgColor1));
    }

    /* Default styling is Light */
    &--dark .dropdown-menu {
        @include dropdown-menu-dark;
    }
    &--dark &__bento-box h4 {
        color: rgba(var(--textColor1), 1);
        font-weight: 600;
    }
    &--dark &__header-time-period {
        span {
            font-weight: 300;
        }
    }
    &--dark &__header-session-details-data {
        h6 {
            font-weight: 500;
        }
        span {
            font-weight: 300;
        }
    }
    &--dark  &__header-pom-timer-capsule {
        box-shadow: none;
        color: rgba(var(--textColor1), 1);
        p {
            font-weight: 400;
        }
        span {
            font-weight: 200;
        }
    }
    &--dark &__tasks-header p {
        font-weight: 400;
    }
    &--dark &__tasks-new-task-btn {
        font-weight: 300;
    }
    &--dark &__tasks-new-todo-input {
        font-weight: 300; 
    }
    &--dark &__pom-timer h1 {
        font-weight: 400;
    }

    &__bento-box {
        position: relative;
        h4 {
            font-size: 1.5rem;
            color: rgba(var(--textColor1), 0.85);
        }
    }

    &__top-container {
        width: 100%;
        display: block;
    }
    
    /* Header */
    &__header {
        @include flex-container(center, space-between);
    }
    &__header-left {
    }
    &__header-right {
        margin-top: -15px;
        @include flex-container(center, _);
    }
    &__header-title-tag {
        @include flex-container(center, _);
    }
    &__header-name {
        display: flex;
        h4 {
            margin-right: 8px;
            max-width: 600px;
            font-weight: 600;
            font-size: 1.5rem;
            @include elipses-overflow;
        }
    }
    &__header-time-period {
        @include flex-container(center, _);
        margin-top: 5px;
        display: none;
        span {
            font-size: 1.15rem;
            font-weight: 500;
            white-space: nowrap;
            color: rgba(var(--textColor1), 0.3);
        }
        .divider {
            width: 1px;
            height: 9px;
            background-color: rgba(var(--textColor1), 0.4);
            margin: 0px 10px;
        }
    }
    &__header-tag {
        color: white;
        border-radius: 20px;
        @include center;
        font-size: 0.95rem;
        font-weight: 500;
        @include circle(16px);
        margin-right: 8px;

        p {
            @include elipses-overflow;
        }
    }
    &__header-pom-timer-capsule {
        background-color: var(--midPanelAccentColor3);
        color: rgba(var(--textColor1), 0.6);
        @include flex-container(center, _);
        padding: 6px 14px;
        border-radius: 20px;
        margin-right: 5px;

        i {
            margin-right: 10px;
            font-size: 1.3rem;
            width: 17px;
        }
        p {
            font-weight: 500;
            font-size: 1.45rem;
            width: 44px;
        }
        span {
            font-weight: 500;
            font-size: 1rem;
        }
    }
    &__header-edit-button {
        background-color: var(--midPanelAccentColor3);
        @include center;
        @include circle(22px);
        box-shadow: none;

        svg {
            transition: 0.15s ease-in-out;
            color: rgba(var(--textColor1), 0.4);
            margin: -1px -2px 0px 0px;
        }
        &:hover {
            background-color: var(--secondaryBgColor);
            svg {
                color: rgba(var(--textColor1), 0.7);
            }
        }
        &:active {
            transform: scale(0.96) !important;
        }
    }

    /* Pomodoro Component */
    &__pom {
        height: 120px;
        width: 100%;
        margin: 15px 0px 25px 0px;
    }
    &__pom-details {
        text-align: center;
        margin-top: 0px;
    }
    &__pom-message {
        display: block;
        margin-top: -10px;
        font-weight: 500;
        font-size: 1.4em;
        color: rgba(var(--textColor1), 0.42);
    }
    &__pom-timer {
        @include flex-container(baseline, center);
        h1 {
            margin: 0px 10px 0px 0px;
            font-size: 6rem;
            font-weight: 500;
            color: rgba(var(--textColor1), 0.85);
            width: 170px;
        }
        span {
            display: none;
            color: rgba(var(--textColor1), 0.5);
        }
    }

    /* Tasks Component */
    &__tasks {
        height: 100%;
        width: 100%;
    }
    &__tasks-header {
        @include flex-container(center, space-between);
        h4 {
            margin: 2px 0px 5px 0px;
            font-size: 1.5rem;
            font-weight: 600;
        }
        p {
            color: rgb(var(--textColor1), 1);
            opacity: 0.35;
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 3px;
        }
    }
    &__tasks-todo-list {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 70%;
        min-height: 100px;
        max-height: 250px;
        padding-top: 4px;
    }
    &__tasks-new-task-btn {
        transition: 0.15s ease-in-out;
        opacity: 0.35;
        padding: 10px 10px 18px 0px;
        margin: 3px 0px -5px 3px;
        font-size: 1.3rem;
        padding-right: 20px;
        @include flex-container(center, center);
        color: rgb(var(--textColor1), 1);

        span {
            font-size: 1.5rem;
            margin-right: 18px;
        }
        &:focus {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
        }
    }
    &__tasks-new-todo-input-container {
        margin: -2px 0px 0px 3px;
        @include flex-container(center, space-between);

        form {
            width: 100%;
        }
    }
    &__tasks-new-todo-input {
        cursor: text;
        width: 90%;
        font-size: 1.35rem;
        font-weight: 500;
        transition: 0.1s ease-in-out;
        margin: 20px 0px 10px 0px;
        padding-bottom: 6px;
        color: rgb(var(--textColor1), 0.7);
        
        &::placeholder {
            opacity: 0.5;
        }
        &:focus {
            border-bottom: 1.5px solid rgba(var(--fgColor2), 0.7);
        }
        &:focus::placeholder {
            opacity: 0.6;
        }
    }
    &__tasks-new-todo-btn-container {
        margin: 8px 0px 0px -5px;
        display: flex;
        button {
            @include center;
            color: rgb(var(--fgColor2));
            border-color: rgb(var(--fgColor2));
            padding: 6px 12px 6px 12px;

            &:active {
                transform: scale(0.98);
            }
            &:hover {
                background: rgb(var(--fgColor2));
            }
            &:first-child {
                margin-right: 5px;
            }
        }
    }
    &__tasks-add-btn {
        &:disabled {
            opacity: 0.5;
        }
        &:disabled {
            &:hover {
                background: none;
                color: rgb(var(--fgColor2));
            }
        }
    }
    &__tasks-finish-session-btn {
        color: rgb(var(--fgColor2));
        border-color: rgb(var(--fgColor2));
        @include pos-abs-bottom-right-corner(0px, 10px);

        span {
            margin-left: 5px;
        }

        &:hover {
            background-color: rgb(var(--fgColor2));
            color: var(--secondaryBgColor);
        }
    }
}

/* Todo Component in Subtasks Section */
.active-session-todo {
    position: relative;
    @include flex-container(center, _);

    .divider {
        margin: 0px;
        background-color: rgba(var(--textColor1), 0.06);
        height: 0.5px;
        @include pos-abs-bottom-left-corner(0px, 0px);
    }

    /* Default styling is Dark */
    &--editing > &__right-container {
        border: 0.5px solid rgba(var(--textColor1), 0.2);
        border-radius: 12px;
        padding: 9px 12px 9px 2px !important;
        margin: 2px 0px;
        font-size: 1.2rem;
        color: rgba(var(--textColor1), 0.7);
    }
    &--editing > .divider {
        display: none;
    }
    &--editing > form {
        display: block;
    }
    &--light-mode > &__right-container {
        color: rgba(var(--textColor1), 1);
        
        button, span {
            font-weight: 500;
        }
    }
    &--light-mode .divider {
        background-color: rgba(var(--textColor1), 0.08);
        height: 1px;
    }
    &--light-mode &__check-box {
        border: 2px solid rgb(var(--fgColor1));
    }
    &--light-mode &__dotted-line {
        border-left: 2px dotted rgb(var(--fgColor1));
        left: 8px;
    }
    &--light-mode &__solid-line {
        &::after {
            border-left: 1.2px solid rgb(var(--fgColor1));
            left: 8px;
        }
    }
    &--light-mode &__name {
        font-weight: 500;
    }
    &:first-child {
        margin-top: -4px;
    }
    &:hover &__edit-button { 
        transition: 0.12s ease-in-out;
        visibility: visible;
        opacity: 0.5;
    }
    /* Check Box */
    &__check-box {
        @include circle(13.5px);
        @include flex-container(center, center);
        transition: 0.1s ease-in-out;
        position: relative;
        margin-right: 8.5px;
        border: 1.5px solid rgb(var(--fgColor1));
        color: rgb(var(--textColor2));

        i {
            margin-top: 1px;
            font-size: 0.8rem;
            display: none;
        }
        &:focus {
            background-color: rgba(var(--fgColor1), 0.4);
        }
        &:hover {
            background-color: rgba(var(--fgColor1), 0.2);
        }
        &:active {
            transform: scale(0.9);
        }
        &--finished > i {
            display: block;
        }
        &--finished {
            background-color: rgb(var(--fgColor1)) !important;
            &:hover {
                background-color: rgb(var(--fgColor1));
            }
        }
        &--edit-mode {
            margin-top: -40px;
            &:hover {
                background: none;
            }
        }
    }
    &__dotted-line {
        position: absolute;
        width: 1px;
        transition: 0.2s ease-in-out;
        border-left: 1.45px dotted rgb(var(--fgColor1));
        bottom: -10px;
        height: 21px;
        left: 7.7px;
    }
    &__solid-line {
        position: relative; 

        @keyframes progress-line {
            0%   { height : 0; }
            100% { height: 17px; }
        }

        &::after {
            content: ' ';
            position: absolute;
            bottom: -30px;
            left: 7.3px;
            height: 25px;
            border-left: 1.2px solid rgb(var(--fgColor1));
            animation-name: progress-line;
            animation-duration: 0.1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: backwards; 
        }
    }

    /* Todo Content Stuff */
    &__right-container {
        position: relative;
        width: 100%;
        @include flex-container(center, space-between);

        form {
            width: 100%;
        }
        input {
            width: 90%;
        }
    }
    &__name {
        margin: 9px 0px;
        padding: 2px 0px;
        transition: 0.13s ease-in-out;
        opacity: 0.7;
        font-size: 1.2rem;
        font-weight: 200;
        color: rgba(var(--textColor1), 0.85);
        
        .strike {
            position: relative; 
        }
        @keyframes strike {
            0%   { width : 0; }
            100% { width: 100%; }
        }
        .strike::after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background: rgb(var(--textColor1));
            animation-name: strike;
            animation-duration: 0.13s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards; 
        }
        &--finished {
            opacity: 0.2;
        }
    }
    &__edit-button {
        transition: 0.01s ease-in-out;
        visibility: hidden;
        opacity: 0;
        padding: 0px 10px;
        margin: 0px;

        @include pos-abs-top-right-corner(13px, -10px);

        &:focus {
            opacity: 1 !important;
        }
        &:hover {
            opacity: 1 !important;
        }
        span {
            font-size: 1.12rem;
            margin-left: 8px;
            font-weight: 200;
        }
    }
    &__edit-btn-container {
        display: flex;
        button {
            font-size: 1.12rem;
            transition: 0.12s ease-in-out;
            font-weight: 200;
        }
    }
    &__delete-btn {
        margin-right: 10px;
        color: rgba(227, 145, 132, 0.7);

        &:focus {
            color: rgba(var(--textColor1), 1);
        }
        &:hover {
            color: rgba(var(--textColor1), 1);
        }
    }
    &__done-btn {
        color: rgba(var(--textColor1), 0.7);
        &:focus {
            color: rgba(var(--textColor1), 1);
        }
        &:hover {
            color: rgba(var(--textColor1), 1);
        }
        &:disabled {
            opacity: 0.3;
        }
    }
    &__edit-todo-input {
        cursor: text;
        width: 90%;
        margin-left: 6px;

        &::placeholder {
            opacity: 0.5;
        }
    }
}

/* Edit Active Session Modal */
.edit-session-modal {
    background-color: var(--modalBgColor);
    width: 300px;

    /* Btn Styling */
    .fill-btn {
        @include color-btn-styling;
    }
    .trans-btn {
        @include trans-btn-light-styling;
    }
    .unfill {
        @include unfill-btn-ficus-styling(var(--fgColor1));
    }
    .unfill--gray {
        @include unfill-btn-ficus-styling(var(--textColor1));
    }
    &--dark .trans-btn {
        @include trans-btn-dark-styling;
    }

    /* Dark Themes Adjustments */
    &--dark .dropdown-menu {
        border: 1px solid rgba(60, 60, 60, 0.1);
        @include dropdown-menu-dark;
    }
    &--dark &__name-input {
        @include input-text-field-dark;
    }
    &--dark &__name-input-tag-dropdown-btn {
        @include dropdown-btn-dark;
    }

    h3 {
        opacity: 0.9;
        margin: 20px 0px 10px 0px;
    }
    /* Name Input */
    &__name-input { 
        font-size: 1.32rem;
        padding: 0px 7px 0px 20px;
        height: 47px;
        border-radius: 10px;
        width: 97%;
        @include flex-container(center, _);
        transition: 0.2s ease-in-out;
        border: 1px solid rgba(211, 211, 211, 0);
        background-color: var(--modalBgAccentColor);
        
        &--focus {
            border-color: rgba(211, 211, 211, 0.5);
        }
        
        input {
            color: rgba(var(--textColor1), 0.5);
            transition: 0.14s ease-in-out;
            font-weight: 500;
            width: 70%;
            border-width: 0px;

            &::placeholder {
                font-size: 1.4rem;
                font-weight: 400;
                opacity: 0.2;
            }
        }
        &__divider {
            width: 0.9px;
            height: 14px;
            margin: 0px 10px 0px 0px;
            background-color: rgba(var(--textColor1), 0.15);
        }
    }
    &__name-input-tag-dropdown-container {
        position: relative;
        .dropdown-menu {
            position: absolute;
            top: 40px;
            width: 100px;
            &__option {
                p {
                    margin-left: 3px;
                }
                span {
                    margin-right: 3px;
                }
            }
        }
    }
    &__name-input-tag-dropdown-btn {
        @include flex-container(center, _);
        background: none;
        box-shadow: none;
        padding: 10px 11px 10px 10px;
        border-radius: 10px;
    }
    &__name-input-btn-tag {
        @include circle(8px);
        margin-right: 7px;
    }
    &__buttons-container {
        width: 250px;
        margin-top: 50px;
        display: flex;
        width: 100%;

        button {
            @include center;
            border-radius: 9px;
            height: 40px;
            font-size: 1.3rem;
            transition: 0.12s ease-in-out;

            &:active {
                transform: scale(0.99);
            }
        }
    }
    &__done-btn {
        width: 70%;
        background-color: rgba(var(--fgColor1), 1);
        color: var(--modalBgColor);
        margin-right: 5px;
    }
    &__cancel-btn {
        width: 30%;
        background-color: transparent;
    }
}