/*
 * Reusable styling for day views with routine blocks.
 */
 
.routine-blocks-container {
    &--no-scroll {
        overflow: hidden !important;
    }
    &--ns-resize * {
        cursor: ns-resize !important;
    }
    &--grabbing * {
        cursor: grabbing !important;
    }
    &--light .routine-blocks__block-title {
        @include text-style(_, 600);
    }
    &--light .routine-blocks__block--drop-area .routine-blocks__block-time-period {
        font-weight: 500;
    }
}

.routine-blocks {
    @include abs-top-left;
    z-index: 1;
    width: 100%;
    position: relative;
    height: 100%;

    &--light &__block-title {
        font-weight: 500;
    }
    &--light &__block-spine {
        width: 3.5px;
    }
    &--grabbing * {
        cursor: text !important;
    }
    &--editing * {
        user-select: none !important;
    }
    &--editing &__block {
        pointer-events: none;
    }

    #edit-block {
        transition: 0s !important;
    }

    &__block {
        position: absolute;
        // overflow: hidden;
        height: var(--block-height);
        max-height: var(--block-height);
        transition: 0.1s transform ease-in-out;
    
        cursor: pointer;

        &--md &-content {
            @include flex(center);
        }
        &--md &-title {
            margin: 0px 7px 0px 0px;
        }

        // drop area
        &--drop-area {
            border: 1px dashed rgba(var(--block-color-1), 0.4);
            background-color: rgba(var(--block-color-2), 0.5);
            border-radius: 4px;
        }
        &--drop-area &-title {
            display: none;
        }
        &--drop-area &-time-period {
            color: rgba(var(--block-color-1), 0.77);
            font-weight: 300;
        }
        &--drop-area &-spine {
            display: none;
        }

        // week view drop area
        &--wk-drop-area {
            border: 1px dashed rgba(var(--block-color-1), 0.4);
            background-color: rgba(var(--block-color-2), 0.5);
            border-radius: 4px;
        }

        &--old-stretch, &--wk-old-stretch {
            transition: 0s !important;
            * {
                pointer-events: all !important;
            }
        }

        &--use-x-offset {
            left: var(--left-x-offset) !important;
        }
        &--day-floating, &--wk-floating {
            transition: 0s !important;
        }
        &--day-floating &-content, &--wk-floating &-content {
            border-top: 1.5px solid rgba(var(--block-color-3), 0.04);
            border-right: 1.5px solid rgba(var(--block-color-3), 0.04);
            border-bottom: 1.5px solid rgba(var(--block-color-3), 0.04);

            box-shadow: 0px 1px 16.4px 4px rgba(black, 0.08);
        }
        &--day-floating, &--wk-floating {
            cursor: grabbing !important;
        }
        &--dup-floating {
            animation: wobble 1s ease-in-out;
        }
        &--dup-floating &-content {
            box-shadow: 0px 1px 16.4px 4px rgba(black, 0.4);
            border: 1px dashed rgba(var(--block-color-1, 0.5)) !important;
        }
        &--dup-floating * {
            pointer-events: all;
        }
        &--dup-floating:hover * {
            cursor: grab;
        }
        &--dup-floating &-buttons {
            @include visible;
        }
        &--dup-floating &-spine {
            display: none;
        }

        &:hover {
            transition: 0.04s ease-in-out;
        }
        &:active {
            transform: scale(0.998);
        }
        &::after, &::before {
            z-index: 1000;
            content: " ";
            cursor: ns-resize !important;
            height: 4px;
            width: 100%;
        }
        &::before {
            @include abs-top-left();
        }
        &::after {
            @include abs-bottom-left();
        }
    }
    &__block-content {
        background-color: rgba(var(--block-color-2), 1);
        border-top: 0.5px solid var(--primaryBgColor);
        padding: 5px 8px 5px 11px;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        height: 100%;
        border-left: none;
        border-radius: 9px;
    }
    &__block-title {
        @include text-style(_,  500, 1.14rem);
        margin-bottom: 3px;
        cursor: text;
        color: rgb(var(--block-color-1));
    }
    &__block-time-period {
        @include text-style(_, 500, 1.05rem, "DM Sans");
        cursor: text;
        display: inline-block;
        color: rgba(var(--block-color-3), 1);
    }
    &__block-spine {
        @include abs-top-left(0px, 1px);
        height: calc(100%);
        width: 2.5px;
        background-color: rgb(var(--block-color-1));
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    &__block-handler:last-child {
        @include abs-bottom-left();
    }
    &__block-buttons {
        display: block;
        @include not-visible;
        @include flex(center);
        cursor: pointer !important;

        * {
            cursor: pointer !important;
        }
    }
    &__block-order-icon {
        margin: -2px -1px 0px -5px;
    }
    &__block-buttons--left {
        display: block;
        @include abs-top-left(4px, -24px);
    }
    &__block-buttons--right {
        display: block;
        @include abs-top-right(-1px, -27px);
    }
    &__block-buttons--top {
        display: flex;
        @include abs-top-left(-22px, 1px);
    }
    &__block-buttons--bottom {
        display: flex;
        @include abs-bottom-left(-28px, 1px);
    }
    &__block-buttons button {
        @include circle(16px);
        @include center;
        background-color: #303031;
        border: 1px solid rgba(white, 0.02);
        margin: 0px 5px 5px 0px;
        transition: 0.04s ease-in-out;

        &:hover {
            background-color: #3f3f3f;
        }
        &:active {
            scale: 0.95;
        }
    }
    &__block-buttons button i {
        font-size: 0.9rem;

    }
}

$hour-blocks-top-offset: 55px;
$hour-block-height: 50px;

.hour-blocks {
    height: calc(($hour-block-height * 24));
    position: relative;
    width: 50px;

    &--light &__block span {
        @include text-style(0.45, 500);
    }

    &-container {
        position: relative;
        width: 50px;
        overflow: hidden;
    }
    &__blocks {
        position: relative;
        width: 50px;
        height: calc(($hour-block-height * 24));
        width: 50px;
    }
    &__block {
        position: relative;
        // @include flex(center, center);
        text-align: center;
        flex-direction: column;
        position: absolute;
        width: 40px;
        left: -5px;
    }
    &__block span {
        @include text-style(0.3, 300, 0.96rem, "DM Sans");
        white-space: nowrap;
        display: block;
        height: 11px;
        margin-top: -5.5px;
        width: 40px;
    }
    &__block-vert-divider path {
        stroke: rgba(var(--textColor1), 0.17);
        display: none;
        height: 28px;
        opacity: 0.5;
    }
}

.wk-grid {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    &--light svg path {
        stroke: rgba(var(--textColor1), 0.185) !important;
    }

    * {
        pointer-events: none;
    }

    &__vert-lines {
    }
    &__vert-line {
        height: 100%;
        width: 2px;
        position: absolute;
    }
    &__vert-line-content {
        position: relative;

        svg {
        }
    }
    &__hoz-lines {
        height: 100%;
        width: 100%;
        position: relative;
    }
    &__hoz-line {
        position: absolute;
        height: 50px;
        width: 100%;
    }
    &__hoz-line-content {
        position: relative;

        svg {
            @include abs-top-left(0px, 0.5px);
        }
    }

    svg path {
        stroke: rgba(var(--textColor1), 0.06);
    }
}

.now-line {
    position: absolute;
    background-color: #D04149;
    height: 1.5px;
    border-radius: 4px;

    &__content {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &__content::before {
        content: " ";
        background-color: #D04149;
        @include abs-top-left(50%, 0px);
        height: 7px;
        width: 2.5px;
        border-radius: 4px;
    }
}

@keyframes wobble {
    0% {
      transform: none
    }
  
    15% {
      transform: rotate3d(0, 0, 1, -5deg)
    }
  
    30% {
      transform: rotate3d(0, 0, 1, 3deg)
    }
  
    45% {
      transform: rotate3d(0, 0, 1, -3deg)
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 2deg)
    }
  
    75% {
      transform: rotate3d(0, 0, 1, -1deg)
    }
  
    100% {
      transform: none
    }
  }
  