@use "./global.scss" as *;

$hour-blocks-top-offset: 55px;
$hour-block-height: 50px;

.hour-blocks {
    height: calc(($hour-block-height * 24));
    position: relative;
    width: 50px;
    overflow: scroll;

    &--light &__block span {
        @include text-style(0.75);
    }
    &-container {
        position: relative;
        overflow: hidden;
    }
    &__blocks {
        position: relative;
        height: calc(($hour-block-height * 24));
    }
    &__block {
        text-align: center;
        flex-direction: column;
        position: absolute;
        width: 40px;
        left: -5px;
    }
    &__block span {
        @include text-style(0.35, var(--fw-400-500), 1.15rem);
        white-space: nowrap;
        display: block;
        height: 11px;
        margin-top: -7px;
        width: 40px;
    }
}

.wk-grid {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    &--light svg path {
        stroke: rgba(var(--textColor1), 0.185) !important;
    }
    * {
        pointer-events: none;
    }
    &__vert-line {
        height: 100%;
        width: 2px;
        position: absolute;
    }
    &__vert-line-content {
        position: relative;
    }
    &__hoz-lines {
        height: 100%;
        width: 100%;
        position: relative;
    }
    &__hoz-line {
        position: absolute;
        height: 50px;
        width: 100%;
    }
    &__hoz-line-content {
        position: relative;
    }
    svg {
        @include abs-top-left(0px, 0.5px);
    }
    svg path {
        stroke: rgba(var(--textColor1), 0.055);
    }
}

.now-line {
    position: absolute;
    background-color: #FF5151;
    height: 1.5px;
    border-radius: 4px;
    width: 100%;

    &__content {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &__content::before {
        content: " ";
        background-color: #FF5151;
        @include abs-top-left(50%, 0px);
        height: 7px;
        width: 2.5px;
        border-radius: 4px;
    }
}

@keyframes wobble {
    0% {
        transform: none
    }
    15% {
        transform: rotate3d(0, 0, 1, -5deg)
    }

    30% {
        transform: rotate3d(0, 0, 1, 3deg)
    }

    45% {
        transform: rotate3d(0, 0, 1, -3deg)
    }

    60% {
        transform: rotate3d(0, 0, 1, 2deg)
    }

    75% {
        transform: rotate3d(0, 0, 1, -1deg)
    }

    100% {
        transform: none
    }
}
  