/*
 * Reusable styling for day views with routine blocks.
 */
 
.routine-blocks-container {
    &--no-scroll {
        overflow: hidden;
    }
    &--ns-resize * {
        cursor: ns-resize !important;
    }
}

.routine-blocks {
    @include pos-abs-top-left-corner;
    z-index: 1;
    width: 100%;
    position: relative;
    height: 100%;

    &--light &__block-title {
        font-weight: 500;
    }
    &--light &__block-spine {
        width: 3.5px;
    }
    &--grabbing * {
        cursor: text !important;
    }
    &--editing * {
        user-select: none !important;
    }
    &--editing &__block {
        pointer-events: none;
    }

    #edit-block {
        transition: 0s !important;
    }

    &__block {
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        border-radius: 9px 9px 9px 9px;
        height: var(--block-height);
        max-height: var(--block-height);
        background-color: rgba(var(--block-color-2), 1);
        border: 1px solid rgba(var(--block-color-2), 0);
        transition: 0.1s transform ease-in-out;

        &--md &-content {
            @include flex(center);
        }
        &--md &-title {
            margin: 0px 7px 0px 0px;
        }

        // drop area
        &--drop-area {
            border: 1px dashed rgba(var(--block-color-1), 0.77);
            background-color: rgba(var(--block-color-2), 0.4);
            transform: scale(0.998);
        }
        &--drop-area &-title {
            display: none;
        }
        &--drop-area &-time-period {
            color: rgba(var(--block-color-1), 0.77);
            font-weight: 300;
        }
        &--drop-area &-spine {
            display: none;
        }

        // week view drop area
        &--wk-drop-area {
            border: 1px dashed rgba(var(--block-color-1), 0.4);
            background-color: rgba(var(--block-color-2), 0.5);
            border-radius: 4px;
        }

        &--old-stretch, &--wk-old-stretch {
            transition: 0s !important;
            * {
                pointer-events: all !important;
            }
        }

        &--day-floating {
            left: var(--left-x-offset) !important;
        }
        &--day-floating, &--wk-floating {
            border: 1px solid rgba(var(--block-color-3), 0.04);
            box-shadow: 0px 1px 16.4px 4px rgba(0, 0, 0, 0.08);
            transition: 0s !important;
            cursor: grabbing;
            opacity: 0.8;
        }

        &:hover {
            background-color: rgba(var(--block-color-2), 1);
            transition: 0.04s ease-in-out;
        }
        &:active {
            transform: scale(0.998);
        }
        &::after, &::before {
            z-index: 1000;
            content: " ";
            cursor: ns-resize !important;
            height: 4px;
            width: 100%;
        }
        &::before {
            @include pos-abs-top-left-corner();
        }
        &::after {
            @include pos-abs-bottom-left-corner();
        }
    }
    &__block-content {
        padding: 5px 8px 5px 11px;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        height: 100%;
        border-left: none;
    }
    &__block-title {
        @include text-style(_,  500, 1.14rem);
        margin-bottom: 3px;
        cursor: text;
        color: rgb(var(--block-color-1));
    }
    &__block-time-period {
        @include text-style(_, 500, 1.05rem, "DM Sans");
        cursor: text;
        display: inline-block;
        color: rgba(var(--block-color-3), 1);
    }
    &__block-spine {
        @include pos-abs-top-left-corner(-1px, -1px);
        height: calc(100% + 1px);
        width: 3px;
        background-color: rgb(var(--block-color-1));
    }
    &__block-handler {
        &:last-child {
            @include pos-abs-bottom-left-corner();
        }
    }
}

$hour-blocks-top-offset: 55px;
$hour-block-height: 50px;

.hour-blocks {
    height: calc(($hour-block-height * 24));
    position: relative;
    width: 50px;

    &-container {
        position: relative;
        width: 50px;
        overflow: hidden;
    }
    &__blocks {
        position: relative;
        width: 50px;
        height: calc(($hour-block-height * 24));
        width: 50px;
    }
    &__block {
        position: relative;
        // @include flex(center, center);
        text-align: center;
        flex-direction: column;
        position: absolute;
        width: 40px;
        left: -5px;
    }
    &__block span {
        @include text-style(0.3, 300, 0.94rem, "DM Sans");
        white-space: nowrap;
        display: block;
        height: 11px;
        margin-top: -5.5px;
        width: 40px;
    }
    &__block-vert-divider path {
        stroke: rgba(var(--textColor1), 0.17);
        display: none;
        height: 28px;
        opacity: 0.5;
    }
}

.wk-grid {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    * {
        pointer-events: none;
    }

    &__vert-lines {
    }
    &__vert-line {
        height: 100%;
        width: 2px;
        position: absolute;
    }
    &__vert-line-content {
        position: relative;

        svg {
        }
    }
    &__hoz-lines {
        height: 100%;
        width: 100%;
        position: relative;
    }
    &__hoz-line {
        position: absolute;
        height: 50px;
        width: 100%;
    }
    &__hoz-line-content {
        position: relative;

        svg {
            @include pos-abs-top-left-corner(-3px);
        }
    }

    svg path {
        stroke: rgba(var(--textColor1), 0.06);
    }
}

.now-line {
    position: absolute;
    background-color: #D04149;
    height: 1.5px;
    border-radius: 4px;

    &__content {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &__content::before {
        content: " ";
        background-color: #D04149;
        @include pos-abs-top-left-corner(50%, 0px);
        height: 7px;
        width: 2.5px;
        border-radius: 4px;
    }
}