 /* Drop Down UI */
 @mixin dropdown-btn-dark {
    color: rgba(var(--textColor1), 0.65);
    font-weight: 400;

    &:hover {
        background-color: rgba(var(--textColor1), 0.04);
    }
    &:focus {
        background-color: rgba(var(--textColor1), 0.04);
    }
    
    &--settings {
        @include txt-color(0.04, "bg");

        &:hover, &:focus {
            @include txt-color(0.08, "bg");
        }
    }
    
    i {
        color: rgba(var(--textColor1), 0.65);
    }
}    
@mixin dropdown-menu-dark {
    box-shadow: none;
    border: 1px solid rgba(white, 0.03);
}

.dropdown-btn {
    color: rgba(var(--textColor1), 0.75);
    transition: 0.1s cubic-bezier(.4,0,.2,1);
    border-radius: 18px;
    padding: 6px 12px;
    width: fit-content;
    cursor: pointer;
    @include flex(center);

    &:hover {
        @include txt-color(0.054, "bg");
        transition: 0s ease-in-out;
    }
    &:active {
        transform: scale(0.978);
    }

    &--dark {
        color: rgba(var(--textColor1), 0.65);
        font-weight: 400;
    
        &:hover {
            background-color: rgba(var(--textColor1), 0.04);
        }
        &:focus {
            background-color: rgba(var(--textColor1), 0.04);
        }
        i {
            color: rgba(var(--textColor1), 0.65);
        }
    }
    &--no-focus:focus-visible {
        box-shadow: none !important;
    }
    &--settings#{&}--dark {
        @include txt-color(0.04, "bg");

        &:hover, &:focus {
            @include txt-color(0.08, "bg");
        }
    }
    &--settings {
        @include circle(22px);
        @include center;
        @include txt-color(0.04, "bg");
        padding: 0px;
        transition: transform 0.12s ease-in-out;
        background-color: rgb(var(--textColor1), 0.04);

        &:active, &:hover {
            background-color: rgb(var(--textColor1), 0.08);
        }
    }
    &--icon-text &__icon {
        margin-right: 15px;
        padding-left: 5px;
    }
    &--light-mode p {
        font-weight: 600;
    }
    &--small {
        height: 14px;
    }
    &--small &__title { 
        font-size: 1.1rem;
    }
    &--active &__icon--arrow {
        transform: rotate(-180deg);
    }
    &--arrow-left#{&}--active &__icon--arrow {
        transform: rotate(0deg) !important;
    }
    &--arrow-left &__icon--arrow {
        transform: rotate(-90deg) !important;
    }
    &--arrow-on-hover &__icon--arrow {
        @include not-visible;
    }
    &--arrow-on-hover:focus &__icon--arrow {
        @include visible(0.2);
    }
    &--arrow-on-hover:hover &__icon--arrow {
        @include visible(0.2);
    }
    &--empty &__title {
        opacity: 0.45;
    }
    &--no-bg {
        box-shadow: none !important;
    }
    &--bg-on-active {
        
    }
    &--bg-on-active:hover {
        
    }

    &__title {
        @include text-style(1, 500, 1.24rem, "DM Sans");
        white-space: nowrap;
        margin-right: 9px;
        flex: 1;
    }
    &__icon {
        @include center;
        position: relative;
        
        &--arrow {
            transition: 0.15s cubic-bezier(.4,0,.2,1);
            transform-origin: center;
            transform: rotate(0deg);
            opacity: 0.2;
        }
        
        // first child of children
        &:first-child:not(:only-child) {
            margin-right: 7px;
        }
        i {
            color: rgba(var(--textColor1), 0.5);
        }
    }

    /* Double Arrows */
    &__arrows i {
        margin-left: 7px;
        font-size: 0.9rem;
    }
    &__arrows-triangle-up {
        margin: -4px 0px -8px 0px;
    }
    &__arrows-triangle-up i, &__arrows-triangle-down i {
        font-size: 0.5rem;
    }
}

.dropdown-menu {
    display: block;
    position: relative;
    overflow: scroll;
    z-index: 1000;
    padding: 4px 3px 5px 3px;
    border-radius: 10px;
    background-color: var(--bg-2);
    box-shadow: 0px 1px 16.4px 4px rgba(0, 0, 0, 0.05);
    width: auto;
    min-width: 25px;
    font-family: var(--font-family);
    $side-padding: 7px;
    $divider-side-padding: $side-padding - 2;

    /*  Dark Styles */
    &--dark {
        border: 1px solid rgba(white, 0.03);
        box-shadow: 0px 1px 16.4px 4px rgba(0, 0, 0, 0.07);
    }
    &--dark &__option--selected {
        background-color: rgba(45, 45, 45, 0.2) !important;
    }
    &--dark &__option-icon--unit {
        @include text-style(0.85, 400);
    }
    &--dark &__new-option-container button {
        font-weight: 400;
        &:hover, &:focus {
            background-color: rgba(white, 0.2);
        }
    }
    &--dark &__option:focus, 
    &--dark &__option:hover {
        button {
            background-color: rgba(var(--textColor1), 0.02);
            opacity: 1;
        }
    }
    &--dark &__option--selected {
    }
    &--has-scroll-bar &__option {
        width: calc(100% - 8px);
    }

    &-container--child::before {
        @include abs-top-left(0px, -20px);
        content: " ";
        display: block;
        width: 20px;
        height: 100%;
    }
    &-container--child::after {
        @include abs-top-right(0px, -20px);
        content: " ";
        display: block;
        width: 20px;
        height: 100%;
    }
    &__section--last + &__section-divider {
        display: none;
    }
    &__section-name {
        @include text-style(0.25, 600, 1rem);
        padding: 3px $side-padding 1px $side-padding;
    }
    &__section-divider {
        @include divider(0.06, 0.5px, calc(100% - calc(2 * $divider-side-padding)));
        margin: 4px 0px 4px $divider-side-padding;
    }
    &__option {
        color: rgb(var(--textColor1));
        white-space: nowrap; 
        border-radius: 9px;
        width: 100%;
        position: relative;
        display: block;
        margin-bottom: 1px;
        overflow: hidden;
        position: relative;
        transition: 0s ease-in-out;
        cursor: pointer;
        @include flex(center);

        &:last-child {
            padding-bottom: 0px;
        }
        &:hover &-btn {
            background-color: rgba(var(--textColor1), 0.04);
            opacity: 1;
        }
        &:focus-visible {
            @include border-focus;
        }
        &--selected {
            opacity: 1;
            background-color: rgba(var(--textColor1), 0.02);
        }
        &--selected button {
            opacity: 1;
            i {
                display: block !important;
            }
        }
        &--selected &-icon--check {
            @include visible;
        }
    }
    &__option-text {
        flex: 1;
        min-width: 0px;
        text-align: left;
        @include elipses-overflow;
        @include text-style(0.78, 500, var(--font-size));
        
        &:hover {
            @include text-style(1);
        }
    }
    &__option-right-icon-container {
        @include flex(center);
    }
    &__option-icon {
        width: 10px;
        height: 10px;
        transition: 0.12s ease-in-out;
        @include center;

        &--check {
            @include not-visible;
        }
        &--unit {
            @include text-style(_, 500, var(--font-size));
            width: auto;
            height: auto;
        }
        &:first-child:not(:only-child) {
            margin-right: 9px;
        }
        i {
            font-size: 1.12rem;
            opacity: 0.3;
        }
    }
    &__option-btn {
        @include flex(center);
        padding: 6px $side-padding 7px $side-padding;
        width: 100%;
        opacity: 0.65;
        transition: 0s ease-in-out;

        &--unclickable:active {
            transition: 0s !important;
        }
        &:active {
            transition: 0.12s ease-in-out;
            transform: scale(0.984);
        }
        &:disabled {
            opacity: 0.14;
        }
    }
    &__divider {
        margin: 2px 0px 4px 2px;
        width: 90%;
        height: 0.5px;
        margin-left: 5px;
        background-color: rgba(var(--textColor1), 0.1);
    }
}