@use "./global.scss" as *;

.dbtn {
    --bg-hov-opacity: 0.07;
    --bg-opacity: 0.04;

    color: rgba(var(--textColor1), 0.75);
    transition: 0.1s cubic-bezier(.4,0,.2,1);
    border-radius: 8px;
    padding: 4px 5px 6px 11px;
    width: fit-content;
    cursor: pointer;
    @include flex(center);
    background-color: rgba(var(--textColor1), var(--bg-opacity));
    
    &--light {
        --bg-hov-opacity: 0.07;
        --bg-opacity: 0.04;
    }
    &--light &__title {
        @include text-style(1);
    }
    &--no-bg {
        background-color: transparent !important;
        background: none !important;
        --bg-hov-opacity: 0;
    }
    &--active &__icon--arrow {
        transform: rotate(-180deg);
    }
    &--arrow-on-hover &__icon--arrow {
        @include not-visible;
    }
    &--arrow-on-hover:focus &__icon--arrow {
        @include visible(0.2);
    }
    &--arrow-on-hover:hover &__icon--arrow {
        @include visible(0.2);
    }
    &--empty &__title {
        opacity: 0.45;
    }
    &--auto-opacity {
        opacity: 0.5;
    }
    &--auto-opacity:hover {
        opacity: 1 !important;
    }

    &:active {
        transform: scale(0.978);
    }
    &:hover {
        background-color: rgba(var(--textColor1), var(--bg-hov-opacity)) !important;
    }
    &__title {
        @include text-style(1, var(--fw-400-500), var(--font-size));
        font-family: var(--font-family);
        white-space: nowrap;
        margin-right: 8px;
        flex: 1;
    }
    &__icon {
        @include center;
        position: relative;
        color: rgba(var(--textColor1), 0.5);
        opacity: 0.2;
        
        &--arrow {
            transition: 0.15s cubic-bezier(.4,0,.2,1);
            transform-origin: center;
            transform: rotate(0deg);
        }
        &--close {
            transition: 0.05s ease-in-out;
            margin-bottom: -2px;
            @include center;
        }
        &:hover {
            opacity: 0.85;
        }
    }
}

.dmenu {
    display: block;
    position: relative;
    z-index: 1000;
    padding: 4px 3px 5px 3px;
    border-radius: 10px;
    width: auto;
    min-width: 25px;
    font-family: var(--font-family);
    $side-padding: 7px;
    $divider-side-padding: $side-padding - 2;
    @include contrast-bg("bg-2");

    --hover-opacity: 0.035;
    --inactive-opacity: 0.65;
    --picked-opacity: 0.02;

    &--light {
        // border: 1.5px solid rgba(var(--textColor1), 0.065);
        // box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.075);
        @include contrast-bg("bg-3");
        --hover-opacity: 0.0385;
        --inactive-opacity: 0.85;
        --picked-opacity: 0.04;
    }
    &--light &__section-name {
        @include text-style(0.45);
    }
    &--light &__option-heading {
        @include text-style(0.85);
    }
    &--light &__option-text {
        @include text-style(0.9);
    }
    &--light &__box i {
        @include text-style(0.25);
    }
    &--light &__box {
        background-color: rgba(var(--textColor1), 0.035);
    }
    &--light &__box:hover {
        box-shadow: rgba(var(--textColor1), 0.085) 0px 0px 0px 2px inset, 
                    rgba(var(--textColor1), 0.055) 0px 0px 0px 2.5px;
                    background-color: rgba(var(--textColor1), 0.05);
    }

    &--has-scroll-bar &__option {
        width: calc(100% - 8px);
    }

    &-container--child::before {
        @include abs-top-left(0px, -20px);
        content: " ";
        display: block;
        width: 20px;
        height: 100%;
    }
    &-container--child::after {
        @include abs-top-right(0px, -20px);
        content: " ";
        display: block;
        width: 20px;
        height: 100%;
    }
    &__section--last + &__section-divider {
        display: none;
    }
    &__section-name {
        @include text-style(0.25, var(--fw-400-500), 1.15rem);
        padding: 3px $side-padding 2px $side-padding;
        margin-bottom: 2px;
        @include elipses-overflow;
        max-width: 140px;
    }
    &__section-name--mono {
        @include text-style(_, var(--fw-400-500), 1.15rem, "Geist Mono");
    }
    &__section-divider {
        width: calc(100% - calc(2 * $divider-side-padding));
        border-top: var(--divider-border);
        margin: 4px 0px 4px $divider-side-padding;
    }
    &__option {
        color: rgb(var(--textColor1));
        white-space: nowrap; 
        border-radius: 9px;
        width: 100%;
        position: relative;
        display: block;
        margin-bottom: 1px;
        overflow: hidden;
        position: relative;
        transition: 0s ease-in-out;
        cursor: pointer;
        opacity: 0.9;
        @include flex(center);

        &:last-child {
            padding-bottom: 0px;
        }
        &:hover &-btn {
            background-color: rgba(var(--textColor1), var(--hover-opacity));
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
        &:hover &-text {
            @include text-style(1);
        }
        &:focus-visible {
            @include border-focus;
        }
        &--static {
            padding: 0px 2px 0px $side-padding;
            opacity: 1;
            @include flex(center, space-between);
            gap: 12px;
        }
        &--selected {
            opacity: 1;
            background-color: rgba(var(--textColor1), var(--picked-opacity));
        }
        &--selected button {
            opacity: 1;
            i {
                display: block !important;
            }
        }
        &--selected &-icon--check {
            @include visible;
        }
    }
    &__option-heading {
        flex: 1;
        min-width: 0px;
        text-align: left;
        font-size: var(--font-size);
        @include elipses-overflow;
    }
    &__option-heading {
        @include text-style(0.65, var(--fw-400-500));
    }
    &__option-text {
        @include text-style(0.9, var(--fw-400-500), var(--font-size));
    }
    &__right-icon-container {
        @include flex(center);
    }
    &__option-icon {
        width: 10px;
        height: 10px;
        transition: 0.12s ease-in-out;
        @include center;
        @include text-style(0.9, var(--fw-400-500), var(--font-size));

        &--check {
            @include not-visible;
        }
        &--hotkey {
            opacity: 0.5;
            padding-right: 0px;
            width: auto;
            height: auto;
        }
        &--unit {
            opacity: 0.8;
            margin-right: 1px;
        }
        &--txt {
            width: auto;
        }
        &:first-child:not(:only-child) {
            margin-right: 9px;
        }
        i {
            font-size: 1.12rem;
            opacity: 0.3;
        }
    }
    &__option-btn {
        @include flex(center, space-between);
        padding: 6px $side-padding 7px $side-padding;
        width: 100%;
        opacity: var(--inactive-opacity);
        transition: background-color 0.04s ease-in-out;
        gap: 12px;

        &--unclickable:active {
            transition: 0s !important;
        }
        &:active {
            transition: 0.12s ease-in-out;
            transform: scale(0.984);
        }
        &:disabled {
            opacity: 0.14;
        }
    }
    &__divider {
        margin: 2px 0px 4px 2px;
        width: 90%;
        margin-left: 5px;
        border-top: var(--divider-border);
    }
    &__toggle-optn {
        padding: 6px 7px 5px 7px;
        width: 100%;
        @include flex(center, space-between);
    }

    &__box {
        height: 62px;
        margin-right: 7px;
        border-radius: 8px;
        text-align: center;
        width: 50%;
        background-color: rgba(var(--textColor1), 0.02);

        &:hover {
            box-shadow: rgba(var(--textColor1), 0.05) 0px 0px 0px 2px inset, 
                        rgba(var(--textColor1), 0.02) 0px 0px 0px 2.5px;
            background-color: rgba(var(--textColor1), 0.03);
        }
        &--selected {
            box-shadow: rgba(var(--fgColor2), 0.4) 0px 0px 0px 2px inset, 
                        rgba(var(--fgColor2), 0.1) 0px 0px 0px 2.5px !important;
            background-color: rgba(var(--textColor1), 0.02) !important;
        }
        &--selected i,
        &--selected span {
            opacity: 1 !important;
            color: rgb(var(--fgColor2)) !important;
        }
        i {
            font-size: 1.5rem;
            margin-bottom: 7px;
            @include text-style(0.15, _, 1.5rem);
        }
        span {
            @include text-style(1, var(--fw-400-500), 1.225rem);
            opacity: 0.65;
        }
    }
}