 /* Drop Down UI */
 @mixin dropdown-btn-dark {
    color: rgba(var(--textColor1), 0.65);
    font-weight: 400;

    &:hover {
        background-color: rgba(var(--textColor1), 0.04);
    }
    &:focus {
        background-color: rgba(var(--textColor1), 0.04);
    }
    i {
        color: rgba(var(--textColor1), 0.65);
    }
}    
@mixin dropdown-menu-dark {
    box-shadow: none;
    border: 1px solid rgba(white, 0.03);
    box-shadow: none !important;
}

.dropdown-btn {
    color: rgba(var(--textColor1), 0.75);
    box-shadow: var(--bentoBoxShadow);
    transition: 0.08s ease-in-out;
    cursor: pointer;
    border-radius: 18px;
    padding: 6px 12px 6px 12px;
    @include flex(center);
    width: fit-content;

    &:hover {
        background-color: rgba(var(--textColor1), 0.75);
        transition: 0s ease-in-out;
    }
    &:focus {
        background-color: rgba(var(--textColor1), 0.75);
    }
    &:active {
        transform: scale(0.978);
    }

    &--icon-text &__icon {
        margin-right: 15px;
        padding-left: 5px;
    }
    &--light-mode p  {
        font-weight: 600;
    }
    &--small {
        height: 14px;
    }
    &--small &__title { 
        font-size: 1.1rem;
    }
    &--active &__icon {
        &--arrow {
            transform: rotate(-180deg);
        }
    }
    &--arrow-on-hover &__icon--arrow {
        @include not-visible;
    }
    &--arrow-on-hover:focus &__icon--arrow {
        @include visible(0.2);
    }
    &--arrow-on-hover:hover &__icon--arrow {
        @include visible(0.2);
    }

    &__title {
        font-size: 1.24rem;
        white-space: nowrap;
        flex: 1;
        margin-right: 9px;
    }

    &__icon {
        @include center;
        position: relative;
        
        &--arrow {
            transition: 0.1s ease-in-out;
            transform-origin: center;
            transform: rotate(0deg);
            opacity: 0.2;
        }
        
        // first child of children
        &:first-child:not(:only-child) {
            margin-right: 7px;
        }
        i {
            color: rgba(var(--textColor1), 0.5);
        }
    }

    /* Double Arrows */
    &__arrows i {
        margin-left: 7px;
        font-size: 0.9rem;
    }
    &__arrows-triangle-up {
        margin: -4px 0px -8px 0px;
    }
    &__arrows-triangle-up i, &__arrows-triangle-down i {
        font-size: 0.5rem;
    }
}

.dropdown-menu {
    display: block;
    position: relative;
    overflow: scroll;
    z-index: 1000;
    padding: 4px 3px 5px 3px;
    border-radius: 10px;
    background-color: var(--dropdownMenuBgColor1);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 16.4px 4px rgba(0, 0, 0, 0.05);
    width: auto;
    min-width: 25px;
    position: absolute;
    transition: 0.2s opacity cubic-bezier(.2, .45, 0, 1),
                0.2s visibility cubic-bezier(.2, .45, 0, 1),
                0.2s transform cubic-bezier(.2, .45, 0, 1);
    transform: scale(1);
    @include visible;

    &--hidden {
        transform: scale(0.9);
        @include not-visible;
    }

    /*  Dark Styles */
    &--dark {
        box-shadow: none;
        border: 1px solid rgba(white, 0.03);
        box-shadow: none !important;
    }
    &--dark &__option {
        &--selected {
            background-color: rgba(45, 45, 45, 0.2) !important;
        }
        &-text {
            @include text-style(0.85, 400);
        }
    }
    &--dark &__new-option-container button {
        font-weight: 400;
        &:hover, &:focus {
            background-color: rgba(white, 0.2);
        }
    }

    &__option {
        color: rgb(var(--textColor1));
        white-space: nowrap;
        border-radius: 9px;
        width: 100%;
        position: relative;
        display: block;
        margin-bottom: 1px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        transition: 0s ease-in-out;
        @include flex(center, _);

        &:last-child {
            padding-bottom: 0px;
        }
        &--selected {
            opacity: 1;
            background-color: var(--dropdownMenuBgHoverColor1);
        }
        &--selected button {
            opacity: 1;
            i {
                display: block !important;
            }
        }
        &--selected &-icon--check {
            @include visible;
        }
    }
    &__option-text {
        @include elipses-overflow;
        flex: 1;
        min-width: 0px;
        font-size: 1.24rem;
        font-weight: 500;
        margin-right: 10px;
        text-align: left;
    }
    &__option-icon {
        width: 10px;
        height: 10px;
        @include center;
        transition: 0.12s ease-in-out;

        &--check {
            @include not-visible;
        }
        &:first-child:not(:only-child) {
            margin-right: 9px;
        }
        i {
            font-size: 0.9rem;
            opacity: 0.8;
        }
    }
    &__option-btn {
        @include flex(center, _);
        padding: 6px 7px 7px 7px;
        opacity: 0.65;
        width: 100%;
        transition: 0s ease-in-out;

        &:active {
            transition: 0.12s ease-in-out;
            transform: scale(0.984);
        }
        &:focus, &:hover {
            background-color: rgba(var(--textColor1), 0.02);
            opacity: 1;
            font-weight: 400;
        }
        &:disabled {
            opacity: 0.14;
        }
    }
    &__divider {
        margin: 2px 0px 4px 2px;
        width: 90%;
        height: 0.5px;
        margin-left: 5px;
        background-color: rgba(var(--textColor1), 0.1);
    }
}