* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    outline: none;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: rgba(var(--textColor1), 0.8);

    &:hover {
        text-decoration: underline;
    }
}
li {
    list-style: none;
}
label {
    display: inline-block;
}
body {
    //   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-family: "Geist Mono";
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

div[contenteditable] {
    user-select: text;
    -webkit-user-select: none;
}

/* Custom Fonts */
@font-face {
    font-family: 'Apercu Medium';
    font-style: normal;
    src: url("/src/fonts/Apercu\ Medium.woff2") format('woff2');
}
@font-face {
    font-family: 'Apercu Bold';
    font-style: normal;
    src: url("/src/fonts/Apercu\ Bold.woff2") format('woff2');
}
@font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    src: url("/src/fonts/Gordita\ Medium.woff2") format('woff2');
}

@mixin divider($opacity: 0.06, $height: 0.5px, $width: 100%) {
    width: $width;
    height: $height;
    background-color: rgba(var(--textColor1), $opacity);
}

@mixin txt-color($opacity: 1, $type: "text") {
    @if $type == "stroke" {
        stroke: rgba(var(--textColor1), $opacity);
    }
    @else if $type == "bg" {
        background: rgba(var(--textColor1), $opacity);
    }
    @else if $type == "border" {
        border-color: rgb(var(--textColor1), $opacity);
    }
    @else {
        color: rgba(var(--textColor1), $opacity);
    }
}

@mixin flex($vert-spacing, $hoz-spacing: _) {
    display: flex;

    @if $vert-spacing != _ {
        align-items: $vert-spacing;
    }
    @if $hoz-spacing != _ {
        justify-content: $hoz-spacing;
    }
}

@mixin center {
    @include flex(center, center);
}

@mixin circle($diameter) {
    height: $diameter;
    width: $diameter;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

@mixin elipses-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
}

@mixin truncate-lines($line_number: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $line_number;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
}
@mixin trans-text($color, $opacity) {
    color: $color;
    opacity: $opacity;
}

@mixin abs-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin abs-bottom-right($bottom: 0, $right: 0) {
    position: absolute;
    right: $right;
    bottom: $bottom;

    @include pos-center-helper($bottom, $right)
}
@mixin abs-top-right($top: 0, $right: 0) {
    position: absolute;
    top: $top;
    right: $right;

    @include pos-center-helper($top, $right)
}
@mixin abs-top-left($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;

    @include pos-center-helper($top, $left)
}
@mixin abs-bottom-left($bottom: 0, $left: 0) {
    position: absolute;
    bottom: $bottom;
    left: $left;

    @include pos-center-helper($bottom, $left)
}
@mixin pos-center-helper($top-bottom, $right-left) {
    @if $top-bottom == 50% {
        transform: translateY((-50%));
    }
    @if $right-left == 50% {
        transform: translateX((-50%));
    }
}

@mixin contrast-bg($bg: "bg-2") {
    @if $bg == "bg-1" {
        background-color: var(--bg-1);
        box-shadow: rgba(var(--textColor1), 0.085) 0px 0px 10px 1px; 
        border: 1.5px solid rgba(var(--textColor1), 0.055);
    }
    @else if $bg == "bg-2" {
        background-color: var(--bg-2);
        border: 1.5px solid rgba(var(--textColor1), 0.065);
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.075);
    }
    @else if $bg == "bg-3" {
        background-color: var(--bg-2);
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.075);
        border: none;
    }
}

.text-aln-center {
    text-align: center;
}

.elipses-overflow {
    @include elipses-overflow;
}

.hide {
    display: none !important;
}

/* Animations */

/* Line Divider */

.flx {
    display: flex;
    &--algn-center {
        align-items: center;
    }
    &--algn-start {
        align-items: flex-start;
    }
    &--algn-end {
        align-items: flex-end;
    }
    &--algn-baseline {
        align-items: baseline;
    }
    &--justify-center {
        justify-content: center;
    }
    &--space-between {
        justify-content: space-between;
    }
    &--right {
        justify-content: flex-end;
    }
}
.flx-center {
    display: flex;
    align-items: center;
}
.flx-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flx-top-sb {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.c-flx-sb {
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
}

.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

@mixin text-style($opacity: _, $weight: _, $size: _, $font: _) {
    @if $opacity != _ {
        color: rgb(var(--textColor1), $opacity);
    }
    @if $size != _ {
        font-size: $size;
    }
    @if $weight != _ {
        font-weight: $weight;
    }
    @if $font == "system" {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    @else if $font != _ {
        font-family: $font;
    }
}

@mixin border-focus {
    box-shadow: rgba(#0C8CE9, 0.35) 0px 0px 0px 2px inset, 
                rgba(#0C8CE9, 0.1) 0px 0px 0px 2.5px;
}

@mixin square($size, $b-radius: 0) {
    height: $size;
    width: $size;
    min-height: $size;
    min-width: $size;
    border-radius: $b-radius;
}

@mixin box($height: 100%, $width: 100%, $b-radius: 0) {
    height: $height;
    width: $width;
    min-height: $height;
    min-width: $width;
    border-radius: $b-radius;
}

[role="button"]:focus-visible {
    @include border-focus;
}
a:focus-visible {
    @include border-focus;
    text-decoration: underline;
}

button, input {
	all: unset;
}
input::placeholder {
    opacity: 0.3;
}
button {
    font-weight: 600;
    font-size: 0.95rem;
    transition: 0.1s cubic-bezier(.4,0,.2,1);
    border-radius: 3px;
    cursor: pointer;
    
    &:active {
        transform: scale(0.98);
    }
    &:disabled {
        opacity: 0.3;
    }
    &:focus-visible {
        @include border-focus;
    }
}
button.no-focus:focus-visible {
    box-shadow: none !important;
}
button.icon {
    padding: 5px;
}

button.tab-btn {
    background-color: rgba(var(--textColor1), 0.03);
    @include text-style(0.6);
    border-radius: 15px;
    padding: 4px 12px 5px 12px;
    transition: 0.1s ease-in-out;
    white-space: nowrap;
    margin-right: 4px;
    font-size: 1.3rem;
    font-weight: 400;
    @include center;

    &:hover {
        background-color: rgba(var(--textColor1), 0.06);
    }
    &:active {
        transform: scale(0.985);
    }
    &--selected {
        background-color: rgba(var(--textColor1), 1) !important;
        color: rgba(var(--textColor2), 1) !important;
        font-weight: 500;
    }
}

.white {
    color: white !important;
}

/* Custom Input Range */
.input-range {
    width: 100%;
    top: 0px;
    height: 4px;
    cursor: pointer;
    background-color: black;
    transition: ease-in-out 0.1s;
    border-radius: 20px;

    &:hover {
       height: 5px;
    }
    
    // thumb
    &::-webkit-slider-thumb {
        transition: ease-in-out 0.1s;
        width: 0px;
        height: 0px;
        -webkit-appearance: none;
        appearance: none;
        background-color: white;

        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }
    &::-moz-range-thumb  {
        transition: ease-in-out 0.1s;
        width: 0px;
        height: 0px;
        -webkit-appearance: none;
        appearance: none;
        background-color: white;

        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }
    &:hover::-moz-range-thumb {
        @include circle(10px);
    }
    &:hover::-webkit-slider-thumb {
        @include circle(10px);
    }
    &:active::-moz-range-thumb {
        cursor: grabbing;
    }
    &:active::-webkit-slider-thumb {
        cursor: grabbing;
    }

    &--show-thumb {
        &:hover {
            height: 3px;
        }
        &::-webkit-slider-thumb {
            @include circle(9px);
        }
        &::-moz-range-thumb  {
            @include circle(9px);
        }
    }
}

.abs-center {
    @include abs-center();
}

$bento-box-border-radius: 14px;
$bento-box-padding: 8px;

.bento-box {
    border-radius: $bento-box-border-radius;
    padding: 15px 25px 17px 25px;
    background-color: var(--bentoBoxBgColor);
    border: var(--bentoBoxBorder);
    box-shadow: var(--bentoBoxShadow);
    color: rgb(var(--textColor1));

    &--no-padding {
        padding: 0px;
    }

    &__header {
        @include flex(center, space-between);
    }
    &__title {
        margin-bottom: 3px;
        font-size: 1.4rem;
        font-weight: 600;
    }
    &__subtitle {
        font-size: 1.04rem;
        color: rgb(var(--textColor1), 0.5);
    }
    &__subheading {
        font-size: 1.3rem;
        font-weight: 500;
    }
    &__copy {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 1.3rem;
        color: rgb(var(--textColor1), 0.6);
    }
}

.modal {
    position: relative;
    &--content {
        overflow: hidden;
    } 
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3100004;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    &__content {
        position: relative;
        max-width: 90%;
        max-height: 90%;
        overflow: hidden;
        background-color: var(--modalBgColor);
        color: rgb(var(--textColor1));
        
        &-title {
            font-size: 1.5rem;
            font-weight: 500;
        }
        &-subheading {
            font-size: 1.3rem;
            font-weight: 500;
            color: rgba(var(--textColor1), 0.8);
        }
        &-copy {
            margin-top: 8px;
            font-size: 1.2rem;
            font-weight: 400;
            color: rgba(var(--textColor1), 0.6);
        }
    }
} 

@keyframes fade-in {
    0% {
        transform: translateY(-5px);
        visibility: hidden;
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}

.strike {
    position: relative; 
    opacity: 0.18;
    text-decoration: line-through;
}

@mixin not-visible {
    opacity: 0;
    visibility: hidden;
}
@mixin visible($opacity: 1) {
    opacity: $opacity;
    visibility: visible;
}

.hidden {
    display: none !important;
}
.visible {
    opacity: 1 !important;
    visibility: visible !important;
}
.not-visible {
    @include not-visible;
}

@keyframes strike {
    0%   { 
        width : 0; 
    }
    100% { 
        width: 100%; 
    }
}

@mixin hov-opacity($before: 0.5, $after: 1, $length: 0.14s) {
    opacity: $before;
    transition: $length ease-in-out;

    &:hover {
        opacity: $after;
    }
}

.scroll-bar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

.full-opacity {
    opacity: 1 !important;
}

.tag {
    @include flex(center);
    background-color: rgba(var(--tag-color-2), 1);
    padding: 4px 9px 3px 9px;
    border-radius: 12px;
    width: fit-content;

    &--light {
        background-color: rgba(var(--tag-color-2), 1);
    }
    &__symbol {
        color: white !important;
        margin-right: 7px;
        cursor: text;
        @include center;
    }
    &__title {
        color: rgba(var(--tag-color-1), 1);
        max-width: 120px;
        cursor: text;
        @include text-style(_, var(--fw-400-500), 1.185rem);
        @include elipses-overflow;
    }
}

.select-none {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.no-pointer-events-all {
    pointer-events: none !important;
    
    * {
        pointer-events: none !important;
    }
}

.no-pointer-events {
    pointer-events: none !important;
}

$loading-dots-width: 4px;

.loading-dots {
    @include flex(center, center);
    // margin-top: $loading-dots-width + 2;

    span {
        @include circle($loading-dots-width);
        background: var(--dots-color);
        animation: bounce 0.6s infinite alternate;
    
        &:not(:last-child) {
            margin-right: $loading-dots-width;
        }
        &:nth-of-type(2) {
            animation-delay: 250ms;
        }
        &:nth-of-type(3) {
            animation-delay: 350ms;
        }
    }
}

@keyframes bounce {
    to {
        transform: translateY(-$loading-dots-width);
    }
}

.hide-scroll-bar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

.no-pointer-events-all {
    pointer-events: none !important;
}

.no-bg {
    background: none !important;
}

.smooth-bounce {
    transition: 0.18s cubic-bezier(.4, 0, .2, 1);
}

@mixin smooth-bounce {
    transition: 0.18s cubic-bezier(.4, 0, .2, 1);
}

.ambient-blur {
    background: var(--ambient-bg-color) !important;
    border: var(--ambient-border) !important;
    backdrop-filter: var(--ambient-blur) !important;
    -webkit-backdrop-filter: var(--ambient-blur) !important;

    will-change: filter; 
}

.ambient-dark-blur {
    background: var(--ambient-dark-bg-color) !important;
    border: var(--ambient-border) !important;
    backdrop-filter: var(--ambient-blur) !important;
    -webkit-backdrop-filter: var(--ambient-blur) !important;

    will-change: filter; 
}

.ambient-clear {
    border: 1px solid rgba(white, 0.035) !important;
    background: rgba(black, 0.2) !important;
}

.ambient-dark-clear {
    border: 2px solid rgba(white, 0.035) !important;
    background: rgba(black, 0.5) !important;
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin flex-col($val: space-between) {
    display: flex;
    flex-direction: column;
    justify-content: $val;
}

.fraction {
    @include text-style(0.7, var(--fw-400-500), 1.35rem);
    @include flex(center);
    
    &__slash {
        font-size: 1.15rem !important;
        margin: -1px 3px 0px 3px;
    }
}

@mixin drop-border {
    opacity: 0;
    content: " ";
    z-index: 100;
    transition: opacity 0.08s ease-in-out;
    background-color: #71B8FF;
}

.drop-top-border {
    &--over::before {
        opacity: 0.55 !important;
    }
    &::before { 
        height: 2.5px !important;
        width: calc(100%);
        @include drop-border;
        @include abs-top-left(0px, 0px);
    }
}

.drop-left-border {
    &--over::before {
        opacity: 0.55 !important;
    }
    &::before { 
        width: 2.5px !important;
        height: calc(100% - 20px);
        @include drop-border;
        @include abs-top-left(10px);
    }
}

.grip {
    @include abs-top-left(0px, -18px);
    cursor: grab;
    height: 34px;
    @include center;
    
    &__icon {
        transition: 0.1s ease-in-out;
        @include not-visible;
        padding: 5px 3px;
    }
    &:hover &__icon {
        background: rgba(var(--textColor1), 0.15);
        border-radius: 3px;
        @include visible(0.6);
    }
    &:active {
        cursor: grabbing;
    }
}

.divider {
    width: 100%;
    height: 1px;
    border-top: var(--divider-border);
}

.obscured {
    @include not-visible;
}

.toggle-arrow {
    transform: rotate(0deg);
    opacity: 0;
    padding: 4px;
    transition: 0.18s cubic-bezier(.4, 0, .2, 1);


    &:hover {
        opacity: 0.9 !important;
    }

    &--closed {
        transform: rotate(-90deg);
    }
}

.no-bg {
    background: none !important;
    background-color: transparent !important;
}

.shimmer-anim {
    @include text-style(0.3);
    color: rgba(var(--textColor1), 0.1);
    background-image: linear-gradient(to right, transparent 0%, rgba(var(--textColor1), 1) 50%, transparent 100%);
    background-size: calc(var(--shimmer-text-width) * 4.5) 100%;
    background-clip: text;
    animation: shimmer 2.5s infinite ease-in-out;
    background-repeat: no-repeat;
}

@keyframes shimmer {
    0% {
        background-position: calc(var(--shimmer-text-width) * 4.5 * -1) 0;
    }
    100% {
        background-position: var(--shimmer-text-width) 0;
    }
}

.full-txt-color {
    color: rgba(var(--textColor1), 1) !important;
}

.no-box-shadow {
    box-shadow: none !important;
}

.no-bg {
    background-color: transparent !important;
}

.arrow-down {
    transform: rotate(0deg);
    transition: 0.15s cubic-bezier(.4,0,.2,1);
    
    &--active {
        transform: rotate(-180deg);
    }
}

.lo-fi {
    opacity: 0.25;
}

.border-none {
    border: none !important;
}

.hov-underline:hover {
    text-decoration: underline;
}

.border-top {
    border-top: var(--divider-border);
}
.border-bottom {
    border-bottom: var(--divider-border);
}