.goal-m {
    @include flex(flex-start);
    margin-bottom: 10px;
    transition: 0.18s cubic-bezier(.4, 0, .2, 1);
    position: relative;

    --bullet-opacity: 0.15;
    --div-opacity: 0.095;
    --hover-opacity: 0.9;
    
    &--full {
        margin-bottom: 4px;
    }
    &--full &__title {
        padding-bottom: 10px;
    }
    &--light {
        --bullet-opacity: 0.35;
        --div-opacity: 0.25;
        --hover-opacity: 0.3;
    }
    &--light &__title {
        opacity: 0.9;
    }
    &--light i {
        color: rgba(var(--textColor1), 0.4);
    }

    &:active {
        transform: scale(0.995);
    }
    &:hover &__title {
        opacity: var(--hover-opacity);
    }
    &:hover &__title.strike {
        opacity: 0.35 !important;
    }

    &__title {
        @include text-style(1, var(--fw-400-500), 1.25rem, "Geist Mono");
        cursor: pointer;
        opacity: 0.65;
        position: relative;
        padding-bottom: 14px;
        @include truncate-lines(2);
    }
    &__title.strike {
        opacity: 0.25 !important;
    }
    &__left {
        @include square(15px);
        @include center;
        margin: 0px 9px 0px -5px;
        // display: none;
    }
    &__bullet {
        @include circle(7px);
        border: 2px solid rgba(var(--textColor1), var(--bullet-opacity));
        margin-top: 2px;
    }
    svg {
        @include abs-bottom-left;
        width: 100%;
    }
    path {
        stroke: rgba(var(--textColor1), var(--div-opacity));
    }
    i {
        font-size: 1.2rem;
        color: rgba(var(--textColor1), 0.3);
    }
}