input {
    white-space: pre-wrap;
    word-wrap: break-word;
}
div[contenteditable] {
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    cursor: text;

    code, em {
        @include text-style(0.85, var(--fw-300-400), 1.35rem, "Geist Mono");
        background-color: rgba(150, 150, 150, 0.125);
        padding: 0px 3px 0px 3px;
        border-radius: 3px;
    }
    strong, b {
        @include text-style(1, var(--fw-500-600));
    }
}
div[contenteditable]:empty:before {
    content: attr(data-placeholder);
    opacity: 0.2;
    font-weight: var(--fw-400-500);
}
div[contenteditable]:focus {
    outline: none;
}

.text-editor {
    padding: 4px 4px 4px 0px;
    transition: 0.2s border ease-in-out;
    max-height: 100%;
    overflow: scroll;
    position: relative;
    @include text-style(0.8, var(--fw-400-500), 1.45rem);
}

.box-shadow-focus {
    transition: box-shadow 0.2s ease-in-out,
                background-color 0.1s ease-in-out;

    --border-focus-opacity: 0.05;
    --placeholder-opacity: 0.1;
    --bg-opacity: 0.015;
    --empty-before-opacity: 0.12;

    &--light {
        --border-focus-opacity: 0.1;
        --placeholder-opacity: 0.125;
        --bg-opacity: 0.045;
        --empty-before-opacity: 0.175;
    }
    &--focus {
        background: rgba(var(--textColor1), calc(var(--bg-opacity) + 0.01));
        box-shadow: rgba(var(--textColor1), var(--border-focus-opacity)) 0px 0px 0px 1.5px inset, 
                    rgba(var(--textColor1), calc(var(--border-focus-opacity) - 0.01)) 0px 0px 0px 3px;
    }
}

.input-box {
    @include flex(center, space-between);
    border: none;
    border-radius: 9px;
    padding: 10px 10px 30px 14px;
    position: relative;
    transition: box-shadow 0.2s ease-in-out,
                background-color 0.1s ease-in-out;
    background: rgba(var(--textColor1), 0.015);

    --border-focus-opacity: 0.035;
    --placeholder-opacity: 0.1;
    --bg-opacity: 0.015;
    --empty-before-opacity: 0.12;

    &--light {
        --border-focus-opacity: 0.075;
        --placeholder-opacity: 0.125;
        --bg-opacity: 0.045;
        --empty-before-opacity: 0.175;
    }
    &--light &__count {
        @include text-style(0.5);
    }
    &--border {
        background: rgba(var(--textColor1), var(--bg-opacity));
        box-shadow: rgba(var(--textColor1), 0) 0px 0px 0px 1px inset, 
                    rgba(var(--textColor1), 0.04) 0px 0px 0px 1px;
    }
    &--border-focus {
        background: rgba(var(--textColor1), calc(var(--bg-opacity) + 0.01));
        box-shadow: rgba(var(--textColor1), var(--border-focus-opacity)) 0px 0px 0px 1.5px inset, 
                    rgba(var(--textColor1), calc(var(--border-focus-opacity) - 0.01)) 0px 0px 0px 3px;
    }

    div[contenteditable] {
        max-height: 200px;
        overflow-y: auto;
        @include text-style(0.7, var(--fw-400-500), 1.55rem);
        flex: 1;

        &:empty:before {
            opacity: var(--empty-before-opacity);
        }
    }
    input {
        @include text-style(0.7, var(--fw-400-500), 1.55rem);

        &::placeholder {
            opacity: calc(var(--empty-before-opacity) + 0.08);
        }
    }

    &-error-text {
        display: block;
        margin: 8px 0px 0px 5px;
        font-weight: var(--fw-400-500);
        font-size: 1.14rem;
        color: #CB7272;
    }
    &__count {
        @include text-style(0.2, var(--fw-400-500), 1.4rem);
        float: right;

        &--over {
            color: #CB7272 !important;
        }
    }
}