/* Reset */
input {
    white-space: pre-wrap;
    word-wrap: break-word;
}
textarea {
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    resize: none; /* Disable resizing */
    outline: none; /* Remove outline when focused */
    background-color: transparent;
    color: rgb(var(--textColor1), 1);
    font-family: "Manrope", sans-serif, Roboto;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* Add any additional styling you want */
}

div[contenteditable]:focus {
    outline: none;
}

/* Underline Input */
@mixin input-bottom-underline--light {
    input {
        @include text-style(0.6, 500, 1.4rem);
    }
    input::placeholder {
        @include text-style(0.13, 500, 1.4rem);
    }

    &--focus &__underline {
        background-color: rgba(var(--fgColor1), 1) !important;
        box-shadow: 0px 1px 13px 1.5px rgba(var(--fgColor1), 0.9) !important;
        height: 2px !important;
    }

    &__underline {
        background-color: rgba(var(--fgColor1), 0.4);
        height: 1.5px;
    }
}

.input-bottom-underline {
    input {
        padding: 5px 0px 6px 0px;
        @include text-style(0.8, 200, 1.5rem);
    }
    input::placeholder {
        @include text-style(0.15, 200, 1.5rem);
    }

    &--focus &__underline {
        background-color: rgba(var(--fgColor1), 1) !important;
        box-shadow: 0px 1px 13px 1px rgba(var(--fgColor1), 0.57) !important;
    }
    &__underline-container {
        height: 20px;
        position: relative;   
        overflow: hidden;
        width: 100%;
    }
    
    &__underline {
        height: 1px;
        width: 100%;
        transition: 0.12s ease-in-out;
        background-color: rgba(white, 0.06);
        box-shadow: none;
        @include pos-abs-top-left-corner(0px, 0px);
    }
}


/* Box Input */
@mixin input-box--light {
    border: 1.5px solid rgba(var(--textColor1), 0.12);

    input {
        @include text-style(0.8, 500);
    }
    input::placeholder {
        @include text-style(0.15, 400);
    }

    &__btn {
        @include text-style(0.7, 500);

        &:hover, &:focus {
            @include text-style(0.4, 500);
        }
        &:disabled {
            opacity: 0.4;
        }
    }
}

.input-box {
    @include flex(center, space-between);
    border: 1px solid rgba(var(--textColor1), 0.05);
    border-radius: 12px;
    padding: 5px 10px 5px 12px;

    input {
        padding: 0px 0px 3px 0px;
        @include text-style(0.8, 200, 1.4rem);
        flex: 1;
    }
    input::placeholder {
        @include text-style(0.15, 200, 1.4rem);
    }

    &--no-highlight {
        border: 0px solid !important;
    }
    &--highlighted {

    }

    &__btn-container {
        @include flex(center);
    }
    &__btn {
        padding: 5px 10px;
        @include text-style(0.2, 200, 1.3rem);

        &:active {
            transform: scale(0.95);
        }
        &:hover, &:focus {
            @include text-style(0.5, 200, 1.3rem);
        }
        &:disabled {
            opacity: 0.4;
        }

        &--submit {

        }
        &--cancel {
        }
    }
}

/* Rich Text Editing */
.text-editor {
    padding: 4px 4px 4px 0px;
    transition: 0.2s border ease-in-out;
    border: 0.5px solid rgba(white, 0);
    border-radius: 4px;
    @include text-style(0.8, 300, 1.3rem);
    word-wrap: break-word;
    white-space: pre-wrap;

    &--empty {
        opacity: 0.24;
    }
    &:focus {
        border: 0.5px solid rgba(white, 0);
    }
}