* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}
li {
    list-style: none;
}
body {
      background-color: #101012;
      font-family: "Manrope", sans-serif, Roboto;
      color: white;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}