.task {
    cursor: pointer;
    width: 100%;
    position: relative;
    opacity: 1 ;
    margin-bottom: 0px;
    border-radius: 5px;
    height: auto;

    --focus-opacity: 0.01;
    --checkbox-bg-opacity: 0.06;
    --checkbox-hov-opacity: 0.1;

    &:focus-visible {
        outline: none;
        box-shadow: none;
    }
    &--light {
        --focus-opacity: 0.028;
        --checkbox-bg-opacity: 0.08;
        --checkbox-hov-opacity: 0.05;
    }
    &--light &__description,
    &--light &__description-input {
        @include text-style(0.7)
    }
    &--light &__number {
        @include text-style(0.7);
    }
    &--light &__count {
        @include text-style(0.3);
    }
    &--light &__drag-handle-dots {
        opacity: 0.5;
    }
    &--light &__subtask-progress span {
        @include text-style(0.3);
    }
    &__content--open &__title,
    &__content--open &__description {
        overflow-y: scroll !important;
    }
    &--hover &__top-content {
        background-color: rgba(var(--textColor1), var(--focus-opacity));
    }
    &--dummy {
        cursor: grabbing;
        width: calc(var(--container-width) * 1);
        position: fixed;
        z-index: 1000;
        border-radius: 0px;
        background-color: rgba(var(--float-bg), 0.6);
    }
    &--dummy &__checkbox {
        margin-left: 12px;
    }

    /* task types */
    &--side-menu &__top-content {
        border-radius: 0px;
    }

    /* Checked UI */
    &__content--checked:first-child &__checkbox {
        background-color: var(--elemColor1) !important;

        i {
            display: block;
        }
    }
    &__content--checked  &__title-container h3 {
        color: rgba(var(--textColor1), 0.5);
    }
    &__content--checked &__title.strike::after {
        background-color: rgba(var(--textColor1), 0.7);
    }
    &__content--checked &__description, &__description-input {
        opacity: 0.7;
    }

    &__top-content {
        padding: var(--padding);
        border-radius: var(--border-radius);
        position: relative;
        @include flex(flex-start);

        &--focused#{&}--highlight {
            background-color: rgba(var(--textColor1), var(--focus-opacity)) !important;
        }
        &--focused#{&}--highlight .toggle-arrow {
            opacity: 0.2;
        }
    }
    &__top-content--highlight {
        &:focus, &:hover {
            background-color: rgba(var(--textColor1), var(--focus-opacity)) !important;
        }
        &:hover .toggle-arrow {
            opacity: 0.2;
        }
    }
    &__left {
        width: auto;
        position: relative;
    }
    &__drag-handle {
        cursor: grab;
        transition: 0.1s ease-in-out;
        @include abs-top-left(-3px, -3px);
        @include not-visible;
    }
    &__drag-handle-dots {
        opacity: 0.1;
        @include center;

        &:hover {
            opacity: 0.25;
        }
    }
    &__right {
        width: calc(100% - 40px);
        height: 100%;
        position: relative;
    }
    &__left-corner {
        margin: 1px 19px 0px var(--side-padding);
        @include center;
    }
    &__number {
        @include text-style(0.4, var(--fw-400-500));
        font-size: calc(var(--title-font-size) - 1px);
    }
    &__checkbox {
        @include center;
        height: var(--checkbox-dim);
        width: var(--checkbox-dim);
        transition: 0.1s ease-in-out;
        background-color: rgba(var(--textColor1), var(--checkbox-bg-opacity)) !important;
        border-radius: 0px;
        position: relative;
        margin: 1px 12px 0px var(--side-padding);
        cursor: pointer;
        z-index: 1;
        
        i {
            margin-top: 1px;
            font-size: 1rem;
            display: none;
            color: var(--elemTextColor);
        }
        &:hover {
            background-color: rgba(var(--textColor1), var(--checkbox-hov-opacity));
        }
        &:active {
            transform: scale(0.92);
        }
    }
    &__title-container {
        @include flex(flex-start, space-between);
        margin-top: 0px;
        width: calc(100% - 20px);
    }

    &__title, &__description {
        white-space: pre-wrap;
    }
    &__title {
        @include truncate-lines(var(--max-title-lines));
        cursor: text;
        margin: 0px 0px 5px 0px;
        @include text-style(1, var(--fw-400-500), var(--font-size));
        max-height: 180px;
    }
    &__description-container {
        width: calc(100% - 20px);
        padding-bottom: 2px;
    }
    &__description {
        @include text-style(0.4, 400, var(--font-size));
        opacity: 0.65;
        margin: 0px 0px 2px 0px;
        padding: 0px 8px 2px 0px;
        width: 100%;
        @include truncate-lines(var(--max-descr-lines));
        cursor: text;
        max-height: 350px;

        &--hide {
            height: 0px;
            margin: 0px;
            padding: 0px;
        }
    }
    &__subtasks {
        margin: 0px 0px 5px var(--left-side-width);
        position: relative;
    }
    &__count {
        margin-left: 5px;
        @include text-style(0.2, var(--fw-400-500), calc(var(--font-size) - 0.1rem));
    }
}

.divider {
    pointer-events: none;
    width: calc(100% - calc(2 * var(--side-padding)));
    @include abs-top-left(0px, var(--side-padding));
}

.toggle-arrow {
    @include abs-top-left(-1px, -22px);
}

.grip {
    top: -8px;
    left: -18px;
}

@mixin drop-border {
    opacity: 0.4;
    content: " ";
    z-index: 100;
    height: 2px !important;
    width: calc(100% - 20px);
    background-color: #71B8FF;
}

.drop-top-border::before {
    @include drop-border;
    @include abs-top-left(0px, 10px);
}
    
.drop-bottom-border::before {
    @include drop-border;
    @include abs-bottom-left(-2.5px, 10px);
}