$ease-in: cubic-bezier(.2, .45, 0, 1);
$from-bottom: 12px;
$from-right: 12px;
$from-top: 12px;
$from-left: 12px;
$header-icon-size: 17px;

[data-sonner-toaster] {
    position: fixed;
    width: var(--width);
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    outline: none;
    z-index: 1000;
}

[data-sonner-toaster][data-x-position='right'] {
    right: max($from-right, env(safe-area-inset-right));
}

[data-sonner-toaster][data-y-position='bottom'] {
    bottom: max($from-bottom, env(safe-area-inset-bottom));
}

[data-sonner-toast] {
    z-index: var(--z-index);
    position: absolute;
    opacity: 0;
    transform: var(--y);
    touch-action: none;
    box-sizing: border-box;
    outline: none;
    overflow-wrap: anywhere;
    transition: 
        transform 400ms $ease-in, 
        opacity 200ms, 
        height 400ms $ease-in, 
        box-shadow 200ms;

    --y: translateY(100%);
    --lift-amount: calc(var(--lift) * var(--gap));
    --lift-expanded: calc(var(--lift) * $expanded-gap);
}

.toast {
    gap: 6px;
    border-radius: 18px;
    background: var(--normal-bg);
    width: var(--width);
    padding: 14px 15px 14px 19px;
    background-color: var(--bg-2);
    border: 1px solid rgba(var(--textColor1), 0.05);

    --rich-border-opacity: 0.1;
    --logo-size: 18px;
    --title-lines: 2;

    &--light {
        @include contrast-bg("bg-2");

        --rich-border-opacity: 0.25;
        --logo-size: 21px;
    }
    &--light &__description {
        @include text-style(0.65);
    }
    &--flat {
        padding: 13px 19px 16px 19px !important;
        @include flex(center, space-between);
        --title-lines: 3;
    }
    &--flat &__content {
        flex: 1;
    }
    &--flat &__header {
        margin-bottom: 0px;
        min-width: 0px;
    }
    &--flat &__action-btn {
        margin: 0px 0px 0px 10px;
    }
    &--action {
        padding: 14px 14px 5px 18px;
    }
    &--context {
        padding: 14px 19px 16px 19px;
        border-width: 1.5px;

        background-color: rgba(var(--context-rich-color-2)) !important;
        border: 1.5px solid rgba(var(--context-rich-color-1), var(--rich-border-opacity)) !important;
    }
    &--context &__close-btn {
        background-color: rgba(var(--context-rich-color-2));
        border: 1.5px solid rgba(var(--context-rich-color-1), 0.2) !important;
        box-shadow: none !important;

        i {
            opacity: 1 !important;
        }

        &:hover {
            background-color: rgba(var(--context-rich-color-2));
        }
    }
    &--context i {
        font-size: 1.5rem;
        color: rgba(var(--context-rich-color-1));
    }
    &--context &__header {
        @include flex(start);
        margin-bottom: 0px;

        &-title {
            color: rgba(var(--context-rich-color-1)) !important;
            font-size: 1.45rem;
            font-weight: var(--fw-400-500);
            margin-left: 5px;
        }
    }
    &--context &__description {
        display: none;
    }
    &--context &__bottom-container {
        display: none;
    }
    &--context &__content {
        @include flex(center);
    }
    &__grab-bar {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 10px;
        width: calc(100% - 19px);

        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }
    &__header {
        @include flex(flex-start);
        position: relative;
        margin-bottom: 6px;
    }
    &__header-icon {
        font-size: 1.45rem;
        margin-right: 8px;
        height: var(--logo-size);
        width: var(--logo-size);
        @include center;
    }
    &__header-title {
        @include text-style(0.95, var(--fw-400-500), 1.6rem);
        margin: -2px 0px 1px 0px;
        @include flex(center);
        @include truncate-lines(var(--title-lines));
    }
    &__description {
        margin: 0px 0px 7px 0px;
        @include text-style(0.55, var(--fw-400-500), 1.45rem);
    }

    &__bottom-container {
        @include flex(center, flex-end);
    }
    &__action-btn {
        padding: 0px 4px;
        float: right;
        margin: 3px 0px 11px 0px;
        @include text-style(0.9, 500, 1.425rem);
        @include hov-opacity;
        
        &:active {
            transition: 0.12s ease-in-out;
            transform: scale(0.96);
        }
    }

    &__close-btn {
        @include abs-top-right(-6px, -6px);
        @include text-style(0.5, 100, 1.8rem);
        @include circle(20px);
        @include center;
        transition: 0.08s ease-in-out;
        background-color: var(--bg-2);
        border: 1.5px solid rgba(var(--textColor1), 0.085);

        &:hover &-icon {
            opacity: 1;
        }
        &:active {
            transition: 0.1s ease-in-out;
            transform: scale(0.9) !important;
        }
    }
    &__close-btn-icon {
        opacity: 0.4;
        @include center;
    }
}

/* Toast Additional Styling */

[data-sonner-toast][data-y-position='bottom'] {
    bottom: 0;
    --y: translateY(100%);
    --lift: -1;
    --lift-amount: calc(var(--lift) * var(--gap));
}

/* Leave a ghost div to avoid setting hover to false when swiping out */
[data-sonner-toast][data-swiping='true']:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

[data-sonner-toast][data-y-position='top'][data-swiping='true']:before {
    /* y 50% needed to distribute height additional height evenly */
    bottom: 50%;
    transform: scaleY(3) translateY(50%);
}

[data-sonner-toast][data-y-position='bottom'][data-swiping='true']:before {
    /* y -50% needed to distribute height additional height evenly */
    top: 50%;
    transform: scaleY(3) translateY(-50%);
}

/* Leave a ghost div to avoid setting hover to false when transitioning out */
[data-sonner-toast][data-swiping='false'][data-removed='true']:before {
    content: '';
    position: absolute;
    inset: 0;
    transform: scaleY(2);
}

/* Needed to avoid setting hover to false when inbetween toasts */
[data-sonner-toast]:after {
    content: '';
    position: absolute;
    left: 0;
    height: calc(var(--gap) + 1px);
    bottom: 100%;
    width: 100%;
}

/* Toast State-based Styling */

[data-sonner-toast][data-mounted='true'] {
    --y: translateY(0);
    opacity: 1;
}

[data-sonner-toast][data-expanded='false'][data-front='false'] {
    --scale: var(--toasts-before) * 0.05 + 1;
    --y: translateY(calc(var(--lift-amount) * var(--toasts-before))) scale(calc(-1 * var(--scale)));
    height: var(--front-toast-height);
}

[data-sonner-toast] > * {
    transition: opacity 400ms;
}

[data-sonner-toast][data-expanded='false'][data-front='false'] .toast__close-btn {
    opacity: 0;
}

[data-sonner-toast][data-visible='false'] {
    opacity: 0;
    pointer-events: none;
}

[data-sonner-toast][data-mounted='true'][data-expanded='true'] {
    --y: translateY(calc(var(--lift) * var(--offset)));
    height: var(--initial-height);
}

[data-sonner-toast][data-removed='true'][data-front='true'][data-swipe-out='false'] {
    --y: translateY(calc(var(--lift) * -100%));
    opacity: 0;
}

[data-sonner-toast][data-removed='true'][data-front='false'][data-swipe-out='false'][data-expanded='true'] {
    --y: translateY(calc(var(--lift) * var(--offset) + var(--lift) * -100%));
    opacity: 0;
}

[data-sonner-toast][data-removed='true'][data-front='false'][data-swipe-out='false'][data-expanded='false'] {
    --y: translateY(40%);
    opacity: 0;
    transition: transform 500ms, opacity 200ms;
}

[data-front='false'][data-expanded='false'] > * {
    opacity: 0;
    transition: opacity 100ms;
}

// Bump up the height to make sure hover state doesn't get set to false 
[data-sonner-toast][data-removed='true'][data-front='false']:before {
    height: calc(var(--initial-height) + 20%);
}

[data-sonner-toast][data-swiping='true'] {
    transform: var(--y) translateX(var(--swipe-amount, 0px));
    transition: none;
}

[data-sonner-toast][data-swipe-out='true'][data-y-position='bottom'],
[data-sonner-toast][data-swipe-out='true'][data-y-position='top'] {
    transform: translateY(calc(var(--lift) * var(--offset)));
    animation: swipe-out 240ms ease-out forwards;
}


/* Animations */

@keyframes swipe-out {
    from {
        transform: translateY(calc(var(--lift) * var(--offset))) translateX(calc(var(--swipe-amount)));
        opacity: 1;
    }
    to {
        transform: translateY(calc(var(--lift) * var(--offset))) translateX(calc(var(--swipe-amount) + var(--width)));
        opacity: 0;
    }
}

@keyframes sonner-fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes sonner-fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes sonner-spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.15;
    }
}